<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form>
        <p:growl autoUpdate="true"/>
        <center>Laporan Kas</center>
        <br/>
        <p:panelMenu style="width:250px">
            <p:submenu label="Harian">
                <p:menuitem value="Kas Masuk" url="/main/Reports/Kas/ReportHarianKasMasuk.xhtml"/>
                <p:menuitem value="Kas Keluar" url="/main/Reports/Kas/ReportHarianKasKeluar.xhtml"/>
            </p:submenu>
        </p:panelMenu>
    </h:form>
</ui:composition>