.simrs-top-page{
    background:#CC99FF;
    margin-bottom: 0px;
    padding-bottom: 10px;
    height: 4%;
}
.simrs-welcome-msg {
    letter-spacing:3pt;
    word-spacing:5pt;
    font-size:11px;
    font-family:palatino, palatino, serif;
}
.simrs-logo{
    float:right; 
    margin: 0 0 15px 15px;
}
body{
    margin:0;
    padding:0;
}
.backgroundImage{
    /*position: absolute;*/
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-size: cover;
    /*-webkit-filter: blur(5px);*/
    z-index: 0;
}
.simrs-mainmenu{
    margin:0px 0px 10px 0px;
    padding:0px 0px 0px 0px;
    height: 10%;
}
.simrs-mainpage{
    margin:2px 2px 2px 2px; 
    min-height:70%;
    width:98%;
    font-family:Arial,sans-serif;
    font-weight:900;
    font-size: 13px;
    /*color: #58366A;*/

}
.simrs-mainpage-content{
    /*width:97%;*/
    /*height:80%;*/
    padding-left: 10px;
    padding-right: 10px;
    overflow:auto;
    position: absolute;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.simrs-footer-page{
    position: absolute;
    width:100%;
    height:3%;
    background:#CC99FF;
    font-size:11px;
    font-family:palatino, palatino, serif;
}

.simrs-textInput{
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 12px;
}

.simrs-textInputUseWhiteSpaces{
    font-size: 12px;
    white-space: pre-wrap;
}

.simrs-outputText{
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.simrs-selectOneMenu{
    width: 180px!important;
}

.simrs-datatable{
    margin-top: 15px!important;
    margin-bottom: 15px!important;
    width: 100%!important;
}

.simrs-dialog {
    width: 90%!important;
    height: 80%!important;
    padding: 10px!important;
    position: absolute!important;
    overflow: auto;
    top:10px;
    bottom:10px;
}

.simrs-panelgrid{
    width: 100%!important;
}

.simrs-datatable{
    width: 99%!important;
}

.simrs-fieldset{
    margin: 5px!important;
    padding: 10px!important;
}

.simrs-confirmation{
    width: auto!important;
    height: auto!important;
}


.simrs-datatable-scroll {
    width: 580px;
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.simrs-datatable2-scroll {
    width: 100%;
    min-height:200px;
    max-height:500px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.simrs-datatable-scroll-size {
    width: 100%;
    min-height:200px;
    max-height:500px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.simrs-datatable-scroll-receipt {
    width: 530px;
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.simrs-datatable-scroll-barcode {
    width: 180px;
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.simrs-datatable-scroll-max {
    width: 100%;
    min-height:200px;
    max-height:500px;
    overflow-x:scroll;
    overflow-y:scroll;
}

.simrs-login-bg{
    min-width: 100%;
    min-height: 100%;
}

.simrs-login-form {
    width: 320px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -160px;
    border: 1px solid rgba(63, 65, 67, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 6px 10px -2px #3F4143;
    background: white;
}

.simrs-login-message {
    width: 410px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -205px;
}

.simrs-login-copyright {
    bottom: 0;
    font-size:11px;
    position: absolute;
}

.simrs-columsKasir{
    text-align: center;
    font-size: 12px;
}

div.sideBar {
    float: left;
    padding: 1em;
    margin-left: -15px;
    margin-top: -25px;
}

div.middleMenu {
    padding: 1em;
    overflow: hidden;
}