.ui-widget{
    font-size:12px;
}
.ui-menuitem-link   {
    font-weight:900 !important;
}
.ui-menuitem-link:hover{
    box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
}
.ui-widget-content a {
    color: #000000 !important;
}
.ui-state-hover {
    background-color: transparent !important;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
}

.ui-panelgrid tr, .ui-panelgrid td{
    border: none;
    /*vertical-align: top;*/
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-selectonemenu{
    min-width: 180px !important;
    max-width: 180px !important;
}
.ui-selectonemenu-label{
    min-width: 180px !important;
    max-width: 180px !important;
}  
.ui-icon.fa {
    margin-top: 3px;
}

.ui-datatable-header{
    text-align: left!important; 
}

.ui-state-error{
    border : 1px solid #d82c45 !important;
}

.ui-icon-triangle-1-s {
    float: none!important; 
}

ul.ui-widget-content.ui-menu-list.ui-menu-child {
    width: 220px;
}

.ui-dialog-title {
    font-size: 16px!important;
}

.ui-dialog-titlebar{
    padding: 2px!important;
}

.ui-state-highlight .ui-icon {
    background-image: url(../../javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap);
}

.ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: left!important;
    padding: 4px 10px;
}