<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Hak Akses
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>
        <h:form>
            <p:panelGrid columns="3" >
                <h:outputText value="Role"/>
                <h:outputText value=":"/>
                <p:selectOneMenu id="role" value="#{hakAksesController.selectedRole}" >
                    <f:selectItem itemLabel="Pilih Role" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{hakAksesController.listRole}" var="role" itemLabel="#{role.roleName}" itemValue="#{role.roleId}" />
                    <p:ajax event="change" listener="#{hakAksesController.findMenuByRole(event)}" update="pickList" />
                </p:selectOneMenu>
            </p:panelGrid>

            <p:pickList id="pickList" value="#{hakAksesController.menu}" var="cities" itemLabel="#{cities.menuName}" itemValue="#{cities}" converter="pickListConverter" style="margin-top:5px;width: 50%;"  />

            <p:commandButton id="citySubmit" value="Save" actionListener="#{hakAksesController.saveHakAkses()}" update="displayCities" />

            <p:dialog modal="true" showEffect="fade" hideEffect="fade" widgetVar="cityDialog">
                <h:panelGrid id="displayCities" columns="2">
                    <h:outputText value="Target: " style="font-weight:bold" />
                    <ui:repeat value="#{hakAksesController.menu.target}" var="item">
                        <h:outputText value="#{item}" style="margin-right:5px" />
                    </ui:repeat>
                </h:panelGrid>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>