<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Master Fix Assets
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <center>
            <h:form id="thisForm">
                <p:commandButton value="Tambahkan Data"
                                 actionListener="#{masterFixAssetsController.prepareInsert()}"/>
                <p:commandButton value="Ubah Data"
                                 id="buttonUpdate"
                                 actionListener="#{masterFixAssetsController.prepareUpdate()}"/>
                <p:commandButton value="Hapus"
                                 id="buttonDelete"
                                 actionListener="#{masterFixAssetsController.prepareDelete()}"/>
                <p:commandButton value="Refresh"
                                 update="thisData,buttonUpdate,buttonDelete"
                                 action="MasterFixAssets.xhtml"
                                 process="@this"
                                 actionListener="#{masterFixAssetsController.refreshDataTable()}"/>
                <br/>
                <p:separator/>

                <p:dataTable id="thisData" 
                             value="#{masterFixAssetsController.lazyTblFixAssets}" var="eachData"
                             selectionMode="single"
                             selection="#{masterFixAssetsController.selectedTblFixAssets}"
                             rowKey="#{eachData.fixAssetsId}"
                             paginator="true"
                             rowsPerPageTemplate="15, 25, 50"
                             rows="15"
                             lazy="true"
                             resizableColumns="true"
                             emptyMessage="No Data"
                             styleClass="simrs-panelgrid">
                    <p:column style="font-size: 13px;width: 5%;" headerText="Nomor Inventaris" sortBy="#{eachData.fixAssetsNo}" filterBy="#{eachData.fixAssetsNo}">
                        <h:outputText value="#{eachData.fixAssetsNo}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 15%;" headerText="Nama Inventaris" sortBy="#{eachData.fixAssetsNama}" filterBy="#{eachData.fixAssetsNama}">
                        <h:outputText value="#{eachData.fixAssetsNama}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 5%;" headerText="Tgl Perolehan" sortBy="#{eachData.fixAssetsTglPerolehan}" filterBy="#{eachData.fixAssetsTglPerolehan}">
                        <h:outputText value="#{eachData.fixAssetsTglPerolehanString}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 5%;text-align: center;" headerText="Jumlah" sortBy="#{eachData.fixAssetsJumlah}" filterBy="#{eachData.fixAssetsJumlah}">
                        <h:outputText value="#{eachData.fixAssetsJumlah}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 5%;" headerText="Nilai Perolehan" sortBy="#{eachData.fixAssetsNilaiPerolehan}" filterBy="#{eachData.fixAssetsNilaiPerolehan}">
                        <h:outputText value="#{eachData.fixAssetsNilaiPerolehan}" styleClass="simrs-textInput" style="float: right;">
                            <f:convertNumber type="currency" currencySymbol=""/>
                        </h:outputText>
                    </p:column>
                    <p:column style="font-size: 13px;width: 5%;text-align: center;" headerText="Nilai Buku" sortBy="#{eachData.fixAssetsNilaiBuku}" filterBy="#{eachData.fixAssetsNilaiBuku}">
                        <h:outputText value="#{eachData.fixAssetsNilaiBuku}" styleClass="simrs-textInput" style="float: right;">
                            <f:convertNumber type="currency" currencySymbol=""/>
                        </h:outputText>
                    </p:column>
                    <p:column style="font-size: 13px;width: 6%;text-align: center;" headerText="Umur Ekonomis" sortBy="#{eachData.fixAssetsPersentasePenyusutan}" filterBy="#{eachData.fixAssetsPersentasePenyusutan}">
                        <h:outputText value="#{eachData.fixAssetsUmurEkonomis} Tahun" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 3%;text-align: center;" headerText="( % )" sortBy="#{eachData.fixAssetsPersentasePenyusutan}" filterBy="#{eachData.fixAssetsPersentasePenyusutan}">
                        <h:outputText value="#{eachData.fixAssetsPersentasePenyusutan} %" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 5%;text-align: center;" headerText="Acuan" sortBy="#{eachData.fixAssetsPersentasePenyusutan}" filterBy="#{eachData.fixAssetsPersentasePenyusutan}">
                        <h:outputText value="#{eachData.fixAssetsAcuanPenyusutan}" styleClass="simrs-textInput"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </center>

        <!--=INSERT ====================================================-->
        <h:form id="formDlgInsert">
            <p:dialog id="dlgInsert"
                      widgetVar="widDlgInsert"
                      header="Fix Assets"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:panelGrid id="pgridInsert" columns="2" >
                    <p:panelGrid columns="3" >
                        <h:outputText value="No. Inventaris"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{masterFixAssetsController.selectedTblFixAssets.fixAssetsNo}"
                                     required="true"
                                     requiredMessage="Nomor harus diisi."
                                     maxlength="50"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkNumber(event)"/>

                        <h:outputText value="Nama Inventaris"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{masterFixAssetsController.selectedTblFixAssets.fixAssetsNama}"
                                     required="true"
                                     requiredMessage="Nomor harus diisi."
                                     maxlength="50"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkAlpNumeric(event)"/>

                        <h:outputText value="Tgl Perolehan"/>
                        <h:outputText value=":"/>
                        <p:calendar value="#{masterFixAssetsController.selectedTblFixAssets.fixAssetsTglPerolehan}" 
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    pattern="dd-MM-yyyy"
                                    title="Tanggal Awal">
                        </p:calendar>

                        <h:outputText value="Nilai Perolehan"/>
                        <h:outputText value=":"/>
                        <p:inputText id="nilaiPerolehan" value="#{masterFixAssetsController.nilaiPerolehan}"
                                     required="true"
                                     requiredMessage="Nama harus diisi."
                                     maxlength="50"
                                     onblur="value = trim(this.value)"
                                     onkeyup="return addComma(this, event)"
                                     onkeypress="return checkNumber(event)">
                            <p:ajax event="keyup" process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku formDlgInsert:umurEkonomis" listener="#{masterFixAssetsController.countAll()}" update="nilaiBuku persentase penyusutanPerTahun penyusutanPerBulan" />
                        </p:inputText> 

                        <h:outputText value="Nilai Buku"/>
                        <h:outputText value=":"/>
                        <p:inputText id="nilaiBuku" value="#{masterFixAssetsController.nilaiBuku}"
                                     maxlength="50"
                                     onblur="value = trim(this.value)"
                                     onkeyup="return addComma(this, event)"
                                     onkeypress="return checkNumber(event)"/>

                        <h:outputText value="Jumlah"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{masterFixAssetsController.selectedTblFixAssets.fixAssetsJumlah}"
                                     size="4"
                                     required="true"
                                     requiredMessage="Jumlah harus diisi."
                                     maxlength="9"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkNumber(event)"/>

                        <h:outputText value="Umur Ekonomis"/>
                        <h:outputText value=":"/>
                        <h:panelGroup>
                            <p:inputText id="umurEkonomis" value="#{masterFixAssetsController.umurEkonomis}"
                                         size="4"
                                         onkeypress="return checkNumber(event)"
                                         style="opacity: 1;">
                                <p:ajax event="keyup" process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku formDlgInsert:umurEkonomis" listener="#{masterFixAssetsController.countPersentasePenyusutan()}" update="persentase penyusutanPerTahun penyusutanPerBulan" />
                            </p:inputText>
                            <h:outputText style="margin-left: 5px;" value="Tahun"/>
                        </h:panelGroup>

                        <h:outputText value="% Penyusutan"/>
                        <h:outputText value=":"/>
                        <h:panelGroup>
                            <p:inputText id="persentase" value="#{masterFixAssetsController.persentasePenyusutan}"
                                         size="4"
                                         onblur="value = trim(this.value)"
                                         onkeypress="return checkNumber()(event)"/>
                            <p:ajax event="keyup" process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku" listener="#{masterFixAssetsController.countNilaiPenyusutan()}" update="penyusutanPerTahun penyusutanPerBulan umurEkonomis" />
                            <h:outputText style="margin-left: 5px;" value="%"/>
                        </h:panelGroup>

                        <h:outputText value=""/>
                        <h:outputText value=""/>
                        <h:outputText value=""/>

                        <h:outputText value=""/>
                        <h:outputText value=""/>
                        <h:outputText value=""/>


                    </p:panelGrid>
                    <p:panelGrid columns="3" >
                        

                        <h:outputText value="Dari"/>
                        <h:outputText value=":"/>
                        <p:selectOneRadio id="dari" value="#{masterFixAssetsController.acuanPenyusutan}" >
                            <f:selectItem itemLabel="Nilai Perolehan" itemValue="Nilai Perolehan" />
                            <f:selectItem itemLabel="Nilai Buku" itemValue="Nilai Buku" />
                            <p:ajax process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku" event="valueChange" listener="#{masterFixAssetsController.countNilaiPenyusutan()}" update="penyusutanPerTahun penyusutanPerBulan" />
                        </p:selectOneRadio>

                        <h:outputText value="Nilai Penyusutan"/>
                        <h:outputText value=":"/>
                        <h:panelGroup>
                            <p:inputText id="penyusutanPerTahun" value="#{masterFixAssetsController.nilaiPenyusutanPerTahun}"
                                         onblur="value = trim(this.value)"
                                         onkeyup="return addComma(this, event)"
                                         onkeypress="return checkNumber(event)"/>
                            <p:ajax event="keyup" process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku" listener="#{masterFixAssetsController.countPersentasePenyusutanTahun()}" update="penyusutanPerBulan persentase" />
                            <h:outputText style="margin-left: 5px;" value="Per Tahun"/>
                        </h:panelGroup>

                        <h:outputText value=""/>
                        <h:outputText value=":"/>
                        <h:panelGroup>
                            <p:inputText id="penyusutanPerBulan" value="#{masterFixAssetsController.nilaiPenyusutanPerBulan}"
                                         onblur="value = trim(this.value)"
                                         onkeyup="return addComma(this, event)"
                                         onkeypress="return checkNumber(event)"/>
                            <p:ajax event="keyup" process="@this formDlgInsert:dari formDlgInsert:nilaiPerolehan formDlgInsert:nilaiBuku" listener="#{masterFixAssetsController.countPersentasePenyusutanBulan()}" update="penyusutanPerTahun persentase" />
                            <h:outputText style="margin-left: 5px;" value="Per Bulan"/>
                        </h:panelGroup>

                        <h:outputText value="Acc. Asset"/>
                        <h:outputText value=":"/>
                        <p:autoComplete forceSelection="true" 
                                        value="#{masterFixAssetsController.selectedAccAsset}"
                                        maxResults="10"
                                        completeMethod="#{masterFixAssetsController.findAccountNo}"
                                        onkeypress="return checkAlpNumeric(event)">
                            <!--<p:ajax event="itemSelect" listener="#{kasirRiController.noMedrekOnClick(event)}" update=":formDlgKasir:panelPasen" />-->
                        </p:autoComplete>
                        
                        <h:outputText value="Acc. Akumulasi"/>
                        <h:outputText value=":"/>
                        <p:autoComplete forceSelection="true" 
                                        value="#{masterFixAssetsController.selectedAccAkumulasi}"
                                        maxResults="10"
                                        completeMethod="#{masterFixAssetsController.findAccountNo}"
                                        onkeypress="return checkAlpNumeric(event)">
                            <!--<p:ajax event="itemSelect" listener="#{kasirRiController.noMedrekOnClick(event)}" update=":formDlgKasir:panelPasen" />-->
                        </p:autoComplete>

                        <h:outputText value="Acc. Biaya"/>
                        <h:outputText value=":"/>
                        <p:autoComplete forceSelection="true" 
                                        value="#{masterFixAssetsController.selectedAccBiaya}"
                                        maxResults="10"
                                        completeMethod="#{masterFixAssetsController.findAccountNo}"
                                        onkeypress="return checkAlpNumeric(event)">
                            <!--<p:ajax event="itemSelect" listener="#{kasirRiController.noMedrekOnClick(event)}" update=":formDlgKasir:panelPasen" />-->
                        </p:autoComplete>

                        <h:outputText value="Keterangan"/>
                        <h:outputText value=":"/>
                        <p:inputTextarea value="#{masterFixAssetsController.selectedTblFixAssets.fixAssetsKeterangan}" 
                                         rows="3" cols="30"
                                         autoResize="false" />

                    </p:panelGrid>
                </p:panelGrid>
                <center>
                    <p:commandButton value="Simpan"
                                     actionListener="#{masterFixAssetsController.doInsertFixAssets()}"
                                     update="pgridInsert"/>
<!--                    <p:commandButton value="Simpan"
                                     rendered="#{masterFixAssetsController.isInsertSwitch}"
                                     actionListener="#{masterFixAssetsController.doInsertFixAssets()}"
                                     update="pgridInsert"/>-->
                    <p:commandButton value="Batal"
                                     actionListener="#{masterCOAController.insert()}"
                                     update="pgridInsert"/>
                </center>
            </p:dialog>
        </h:form>

        <!--=UPDATE====================================================-->
        <h:form id="formDlgUpdate">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Ubah Data COA"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridUpdate" columns="3" >
                    <h:outputText value="Kelompok COA"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdKelompokCoa}" required="true" requiredMessage="Pilih Kelompok COA terlebih dahulu" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listKelompokCoa}" var="kelompokCoa" itemLabel="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaNama}" itemValue="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaId}" />
                        <p:ajax event="change" update="thisKode" listener="#{masterCOAController.kelompokOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Kode"/>
                    <h:outputText value=":"/>
                    <h:panelGroup>
                        <p:inputText id="thisKode"
                                     value="#{masterCOAController.kelompokCode}"
                                     disabled="true"
                                     size="4"
                                     style="opacity: 1;"/>
                        <p:inputText value="#{masterCOAController.coaCode}"
                                     required="true"
                                     requiredMessage="Kode harus diisi."
                                     maxlength="10"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkNumber(event)"
                                     size="10">
                        </p:inputText>
                    </h:panelGroup>

                    <h:outputText value="Nama"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.coaAccountNama}"
                                 required="true"
                                 requiredMessage="Nama harus diisi."
                                 maxlength="50"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkAlpNumeric(event)"/>

                    <h:outputText value="Level"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaLevel}" effect="fade" required="true" requiredMessage="Pilih Level terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Level" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="1" itemValue="1" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="6" itemValue="6" />
                        <f:selectItem itemLabel="7" itemValue="7" />
                        <p:ajax event="change" update="thisParent" listener="#{masterCOAController.levelOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Parent"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdParentCoa}" id="thisParent" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listParentCoa}" var="parentCoa" itemLabel="#{parentCoa.coaAccountNo} - #{parentCoa.coaAccountNama}" itemValue="#{parentCoa.coaId}" />
                    </p:selectOneMenu>

                    <h:outputText value="Transaksi ?"/>
                    <h:outputText value=":"/>
                    <p:selectOneRadio value="#{masterCOAController.tblCoa.coaIsTransaction}" >
                        <f:selectItem itemLabel="Ya" itemValue="true" />
                        <f:selectItem itemLabel="Tidak" itemValue="false" />
                    </p:selectOneRadio>

                    <h:outputText value="Laporan"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaReport}" effect="fade" required="true" requiredMessage="Pilih Laporan terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Laporan" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="NERACA" itemValue="NERACA"/>  
                        <f:selectItem itemLabel="RUGI LABA" itemValue="RUGI LABA"/>
                    </p:selectOneMenu>

                    <h:outputText value="Saldo Awal"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.saldoAwalFormatter}"
                                 disabled="#{masterCOAController.disabledSaldoAwal}"
                                 onblur="value = trim(this.value)"
                                 onkeyup="return addComma(this, event)"
                                 onkeypress="return checkNumber()(event)"/>

                    <h:outputText value=""/>
                    <h:outputText value=""/>

                    <p:commandButton value="Save"
                                     actionListener="#{masterCOAController.update()}"
                                     update="pgridUpdate"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

        <!--=DELETE=============================================================-->
        <h:form id="formCfmDelete">
            <p:confirmDialog id="cfmDelete"
                             widgetVar="widCfmDelete"
                             header="Hapus Fix Asset"
                             message="Apakah anda yakin akan menghapus data ini?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes" actionListener="#{masterFixAssetsController.doDelete()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widCfmDelete.hide()"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
