<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Master COA
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <center>
            <h:form id="thisForm">
                <p:commandButton value="Tambahkan Data"
                                 actionListener="#{masterCOAController.doInsert()}"/>
                <p:commandButton value="Ubah Data"
                                 id="buttonUpdate"
                                 actionListener="#{masterCOAController.doUpdate()}"/>
                <p:commandButton value="Hapus"
                                 id="buttonDelete"
                                 actionListener="#{masterCOAController.doDelete()}"/>
                <p:commandButton value="Refresh"
                                 update="thisData,buttonUpdate,buttonDelete"
                                 action="MasterCOA.xhtml"
                                 process="@this"
                                 actionListener="#{masterCOAController.refreshDataTable()}"/>
                <br/>
                <p:separator/>

                <p:dataTable id="thisData" 
                             value="#{masterCOAController.lazyTblCoa}" var="eachData"
                             selectionMode="single"
                             selection="#{masterCOAController.tblCoa}"
                             rowKey="#{eachData.coaId}"
                             paginator="true"
                             rowsPerPageTemplate="15, 25, 50"
                             rows="15"
                             lazy="true"
                             resizableColumns="true"
                             emptyMessage="No Data"
                             styleClass="simrs-panelgrid">
                    <p:column style="font-size: 13px;width: 15%;" headerText="Kelompok COA" sortBy="#{eachData.tblKelompokCoa.kelompokCoaNama}" filterBy="#{eachData.tblKelompokCoa.kelompokCoaNama}">
                        <h:outputText value="#{eachData.tblKelompokCoa.kelompokCoaNama}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 8%;" headerText="Kode" sortBy="#{eachData.coaAccountNo}" filterBy="#{eachData.coaAccountNo}">
                        <h:outputText value="#{eachData.coaAccountNo}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 30%;" headerText="Nama" sortBy="#{eachData.coaAccountNama}" filterBy="#{eachData.coaAccountNama}">
                        <h:outputText value="#{eachData.coaAccountNamaAddTabBasedOnLevel}" styleClass="simrs-textInputUseWhiteSpaces"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 9%;text-align: center;" headerText="Level">
                        <h:outputText value="#{eachData.coaLevel}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 21%;" headerText="Parent">
                        <h:outputText value="#{masterCOAController.findParentName(eachData.coaParent)}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 7%;text-align: center;" headerText="Transaksi ?">
                        <h:outputText value="#{eachData.isTransaksiDesc}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 10%;text-align: center;" headerText="Laporan" sortBy="#{eachData.coaReport}" filterBy="#{eachData.coaReport}">
                        <h:outputText value="#{eachData.coaReport}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;width: 10%;" headerText="Saldo Awal" sortBy="#{eachData.saldoAwalLast}" filterBy="#{eachData.saldoAwalLast}">
                        <h:outputText value="#{eachData.saldoAwalLast}" styleClass="simrs-textInput">
                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>
        </center>

        <!--=INSERT ====================================================-->
        <h:form id="formDlgInsert">
            <p:dialog id="dlgInsert"
                      widgetVar="widDlgInsert"
                      header="COA"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:panelGrid id="pgridInsert" columns="3" >
                    <h:outputText value="Kelompok COA"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdKelompokCoa}" required="true" requiredMessage="Pilih Kelompok COA terlebih dahulu" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listKelompokCoa}" var="kelompokCoa" itemLabel="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaNama}" itemValue="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaId}" />
                        <p:ajax event="change" update="thisKode" listener="#{masterCOAController.kelompokOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Kode"/>
                    <h:outputText value=":"/>
                    <h:panelGroup>
                        <p:inputText id="thisKode"
                                     value="#{masterCOAController.kelompokCode}"
                                     disabled="true"
                                     size="4"
                                     style="opacity: 1;"/>
                        <p:inputText value="#{masterCOAController.coaCode}"
                                     required="true"
                                     requiredMessage="Kode harus diisi."
                                     maxlength="10"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkNumber(event)"
                                     size="10">
                        </p:inputText>
                    </h:panelGroup>

                    <h:outputText value="Nama"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.coaAccountNama}"
                                 required="true"
                                 requiredMessage="Nama harus diisi."
                                 maxlength="50"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkAlpNumeric(event)"/>

                    <h:outputText value="Level"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaLevel}" effect="fade" required="true" requiredMessage="Pilih Level terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Level" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="1" itemValue="1" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="6" itemValue="6" />
                        <f:selectItem itemLabel="7" itemValue="7" />
                        <p:ajax event="change" update="thisParent" listener="#{masterCOAController.levelOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Parent"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdParentCoa}" id="thisParent" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listParentCoa}" var="parentCoa" itemLabel="#{parentCoa.coaAccountNo} - #{parentCoa.coaAccountNama}" itemValue="#{parentCoa.coaId}" />
                    </p:selectOneMenu>

                    <h:outputText value="Transaksi ?"/>
                    <h:outputText value=":"/>
                    <p:selectOneRadio value="#{masterCOAController.tblCoa.coaIsTransaction}" >
                        <f:selectItem itemLabel="Ya" itemValue="true" />
                        <f:selectItem itemLabel="Tidak" itemValue="false" />
                    </p:selectOneRadio>

                    <h:outputText value="Laporan"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaReport}" effect="fade" required="true" requiredMessage="Pilih Laporan terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Laporan" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="NERACA" itemValue="NERACA"/>  
                        <f:selectItem itemLabel="RUGI LABA" itemValue="RUGI LABA"/>
                    </p:selectOneMenu>
                    
                    <h:outputText value="Saldo Awal"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.saldoAwalFormatter}"
                                 onblur="value = trim(this.value)"
                                 onkeyup="return addComma(this, event)"
                                 onkeypress="return checkNumber()(event)"/>


                    <h:outputText value=""/>
                    <h:outputText value=""/>
                    <p:commandButton value="Save"
                                     actionListener="#{masterCOAController.insert()}"
                                     update="pgridInsert"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

        <!--=UPDATE====================================================-->
        <h:form id="formDlgUpdate">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Ubah Data COA"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridUpdate" columns="3" >
                    <h:outputText value="Kelompok COA"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdKelompokCoa}" required="true" requiredMessage="Pilih Kelompok COA terlebih dahulu" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listKelompokCoa}" var="kelompokCoa" itemLabel="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaNama}" itemValue="#{kelompokCoa.kelompokCoaKode} - #{kelompokCoa.kelompokCoaId}" />
                        <p:ajax event="change" update="thisKode" listener="#{masterCOAController.kelompokOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Kode"/>
                    <h:outputText value=":"/>
                    <h:panelGroup>
                        <p:inputText id="thisKode"
                                     value="#{masterCOAController.kelompokCode}"
                                     disabled="true"
                                     size="4"
                                     style="opacity: 1;"/>
                        <p:inputText value="#{masterCOAController.coaCode}"
                                     required="true"
                                     requiredMessage="Kode harus diisi."
                                     maxlength="10"
                                     onblur="value = trim(this.value)"
                                     onkeypress="return checkNumber(event)"
                                     size="10">
                        </p:inputText>
                    </h:panelGroup>

                    <h:outputText value="Nama"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.coaAccountNama}"
                                 required="true"
                                 requiredMessage="Nama harus diisi."
                                 maxlength="50"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkAlpNumeric(event)"/>

                    <h:outputText value="Level"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaLevel}" effect="fade" required="true" requiredMessage="Pilih Level terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Level" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="1" itemValue="1" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="6" itemValue="6" />
                        <f:selectItem itemLabel="7" itemValue="7" />
                        <p:ajax event="change" update="thisParent" listener="#{masterCOAController.levelOnChange()}" />
                    </p:selectOneMenu>

                    <h:outputText value="Parent"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.selectedIdParentCoa}" id="thisParent" filter="true" filterMatchMode="contains" >
                        <f:selectItem itemLabel="Pilih Kelompok COA" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{masterCOAController.listParentCoa}" var="parentCoa" itemLabel="#{parentCoa.coaAccountNo} - #{parentCoa.coaAccountNama}" itemValue="#{parentCoa.coaId}" />
                    </p:selectOneMenu>

                    <h:outputText value="Transaksi ?"/>
                    <h:outputText value=":"/>
                    <p:selectOneRadio value="#{masterCOAController.tblCoa.coaIsTransaction}" >
                        <f:selectItem itemLabel="Ya" itemValue="true" />
                        <f:selectItem itemLabel="Tidak" itemValue="false" />
                    </p:selectOneRadio>

                    <h:outputText value="Laporan"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterCOAController.tblCoa.coaReport}" effect="fade" required="true" requiredMessage="Pilih Laporan terlebih dahulu">
                        <f:selectItem itemLabel="Pilih Laporan" itemValue="" noSelectionOption="true" />
                        <f:selectItem itemLabel="NERACA" itemValue="NERACA"/>  
                        <f:selectItem itemLabel="RUGI LABA" itemValue="RUGI LABA"/>
                    </p:selectOneMenu>
                    
                    <h:outputText value="Saldo Awal"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterCOAController.tblCoa.saldoAwalFormatter}"
                                 disabled="#{masterCOAController.disabledSaldoAwal}"
                                 onblur="value = trim(this.value)"
                                 onkeyup="return addComma(this, event)"
                                 onkeypress="return checkNumber()(event)"/>

                    <h:outputText value=""/>
                    <h:outputText value=""/>

                    <p:commandButton value="Save"
                                     actionListener="#{masterCOAController.update()}"
                                     update="pgridUpdate"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

        <!--=DELETE=============================================================-->
        <h:form id="formCfmDelete">
            <p:confirmDialog id="cfmDelete"
                             widgetVar="widCfmDelete"
                             header="Hapus COA"
                             message="Apakah anda yakin akan menghapus data ini?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes" actionListener="#{masterCOAController.delete()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widCfmDelete.hide()"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
