<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Master Account Special
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <center>
            <h:form id="thisForm">
                <p:commandButton value="Ubah Data"
                                 id="buttonUpdate"
                                 actionListener="#{masterAccountSpecialController.doUpdate()}"/>
                <p:commandButton value="Refresh"
                                 update="thisData,buttonUpdate"
                                 action="MasterAccountSpecial.xhtml"
                                 process="@this"
                                 actionListener="#{masterAccountSpecialController.refreshDataTable()}"/>
                <br/>
                <p:separator/>

                <p:dataTable id="thisData" 
                             value="#{masterAccountSpecialController.lazyTblAccountSpecial}" var="eachData"
                             selectionMode="single"
                             selection="#{masterAccountSpecialController.tblAccountSpecial}"
                             rowKey="#{eachData.accountSpecialId}"
                             paginator="true"
                             rowsPerPageTemplate="15, 25, 50"
                             rows="15"
                             lazy="true"
                             resizableColumns="true"
                             emptyMessage="No Data"
                             styleClass="simrs-panelgrid">
                    <p:column style="font-size: 13px;" headerText="Fungsi Account" sortBy="#{eachData.accountSpecialFunction}" filterBy="#{eachData.accountSpecialFunction}">
                        <h:outputText value="#{eachData.accountSpecialFunction}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="No. Account" sortBy="#{eachData.accountSpecialCoaId.coaAccountNo}" filterBy="#{eachData.accountSpecialCoaId.coaAccountNo}">
                        <h:outputText value="#{eachData.accountSpecialCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="Nama Account" sortBy="#{eachData.accountSpecialCoaId.coaAccountNama}" filterBy="#{eachData.accountSpecialCoaId.coaAccountNama}">
                        <h:outputText value="#{eachData.accountSpecialCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </center>

        <!--=UPDATE====================================================-->
        <h:form id="formDlgUpdate">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Ubah Data Account Special"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridUpdate" columns="3" >

                    <h:outputText value="Fungsi Account"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterAccountSpecialController.tblAccountSpecial.accountSpecialFunction}" disabled="true" />

                    <h:outputText value="Account"/>
                    <h:outputText value=":"/>
                    <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{masterAccountSpecialController.accountNo}"
                                    maxResults="10"
                                    completeMethod="#{masterAccountSpecialController.findNoAccount}">
                        <!--<p:ajax event="itemSelect" listener="#{kasirController.searchByNoMedrec()}" update="thisForm:thisData"/>-->               
                    </p:autoComplete>

                    <h:outputText value=""/>
                    <h:outputText value=""/>
                    <p:commandButton value="Save"
                                     actionListener="#{masterAccountSpecialController.update()}"
                                     update="pgridUpdate"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

    </ui:define>
</ui:composition>