<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Master Account Setup
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <center>
            <h:form id="thisForm">
                <p:commandButton value="Tambah Data"
                                 id="buttonInsert"
                                 actionListener="#{masterAccountSetupController.doInsert()}"/>
                <p:commandButton value="Ubah Data"
                                 id="buttonUpdate"
                                 actionListener="#{masterAccountSetupController.doUpdate()}"/>
                <p:commandButton value="Hapus"
                                 id="buttonDelete"
                                 actionListener="#{masterAccountSetupController.doDelete()}"/>
                <p:commandButton value="Refresh"
                                 update="thisData,buttonUpdate"
                                 action="MasterAccountSpecial.xhtml"
                                 process="@this"
                                 actionListener="#{masterAccountSetupController.refreshDataTable()}"/>
                <br/>
                <p:separator/>

                <p:dataTable id="thisData" 
                             value="#{masterAccountSetupController.lazyTblAccountSetup}" var="eachData"
                             selectionMode="single"
                             selection="#{masterAccountSetupController.tblAccountSetup}"
                             rowKey="#{eachData.accountSetupId}"
                             paginator="true"
                             rowsPerPageTemplate="15, 25, 50"
                             rows="15"
                             lazy="true"
                             resizableColumns="true"
                             emptyMessage="No Data"
                             styleClass="simrs-panelgrid">
                    <p:column style="font-size: 13px;" headerText="Fungsi Account" sortBy="#{eachData.accountSetupName}" filterBy="#{eachData.accountSetupName}">
                        <h:outputText value="#{eachData.accountSetupName}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="No. Account" sortBy="#{eachData.accountSetupCoaId.coaAccountNo}" filterBy="#{eachData.accountSetupCoaId.coaAccountNo}">
                        <h:outputText value="#{eachData.accountSetupCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="Nama Account" sortBy="#{eachData.accountSetupCoaId.coaAccountNama}" filterBy="#{eachData.accountSetupCoaId.coaAccountNama}">
                        <h:outputText value="#{eachData.accountSetupCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="Jenis" sortBy="#{eachData.accountSetupType}" filterBy="#{eachData.accountSetupType}">
                        <h:outputText value="#{eachData.accountSetupType}" styleClass="simrs-textInput"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </center>

        <!--=INSERT====================================================-->
        <h:form id="formDlgInsert">
            <p:dialog id="dlgInsert"
                      widgetVar="widDlgInsert"
                      header="Tambah Data Account Special"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridInsert" columns="3" >

                    <h:outputText value="Fungsi Account"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterAccountSetupController.tblAccountSetup.accountSetupName}" />

                    <h:outputText value="Account"/>
                    <h:outputText value=":"/>
                    <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{masterAccountSetupController.accountNo}"
                                    maxResults="10"
                                    completeMethod="#{masterAccountSetupController.findNoAccount}">
                        <!--<p:ajax event="itemSelect" listener="#{kasirController.searchByNoMedrec()}" update="thisForm:thisData"/>-->               
                    </p:autoComplete>

                    <h:outputText value="Jenis"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterAccountSetupController.tblAccountSetup.accountSetupType}"  >
                        <f:selectItem itemLabel="Kas Masuk" itemValue="KM" />
                        <f:selectItem itemLabel="Kas Keluar" itemValue="KK" />
                    </p:selectOneMenu>

                    <h:outputText value=""/>
                    <h:outputText value=""/>
                    <p:commandButton value="Save"
                                     actionListener="#{masterAccountSetupController.insert()}"
                                     update="pgridInsert"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>
        
        <!--=UPDATE====================================================-->
        <h:form id="formDlgUpdate">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Ubah Data Account Special"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridUpdate" columns="3" >

                    <h:outputText value="Fungsi Account"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterAccountSetupController.tblAccountSetup.accountSetupName}" />

                    <h:outputText value="Account"/>
                    <h:outputText value=":"/>
                    <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{masterAccountSetupController.accountNo}"
                                    maxResults="10"
                                    completeMethod="#{masterAccountSetupController.findNoAccount}">
                        <!--<p:ajax event="itemSelect" listener="#{kasirController.searchByNoMedrec()}" update="thisForm:thisData"/>-->               
                    </p:autoComplete>

                    <h:outputText value="Jenis"/>
                    <h:outputText value=":"/>
                    <p:selectOneMenu value="#{masterAccountSetupController.tblAccountSetup.accountSetupType}"  >
                        <f:selectItem itemLabel="Kas Masuk" itemValue="KM" />
                        <f:selectItem itemLabel="Kas Keluar" itemValue="KK" />
                    </p:selectOneMenu>

                    <h:outputText value=""/>
                    <h:outputText value=""/>
                    <p:commandButton value="Save"
                                     actionListener="#{masterAccountSetupController.update()}"
                                     update="pgridUpdate"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>
        
        <!--=DELETE=============================================================-->
        <h:form id="formCfmDelete">
            <p:confirmDialog id="cfmDelete"
                             widgetVar="widCfmDelete"
                             header="Hapus Account Setup"
                             message="Apakah anda yakin akan menghapus data ini?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes"
                                 actionListener="#{masterAccountSetupController.delete()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widCfmDelete.hide()"/>
            </p:confirmDialog>
        </h:form>

    </ui:define>
</ui:composition>