<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Master Kelompok COA
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <center>
            <h:form id="thisForm">
                <p:commandButton value="Tambahkan Data"
                                 actionListener="#{masterKelompokCOAController.doInsert()}"/>
                <p:commandButton value="Ubah Data"
                                 id="buttonUpdate"
                                 actionListener="#{masterKelompokCOAController.doUpdate()}"/>
                <p:commandButton value="Hapus"
                                 id="buttonDelete"
                                 actionListener="#{masterKelompokCOAController.doDelete()}"/>
                <p:commandButton value="Refresh"
                                 update="thisData,buttonUpdate,buttonDelete"
                                 action="MasterKelompokCOA.xhtml"
                                 process="@this"
                                 actionListener="#{masterKelompokCOAController.refreshDataTable()}"/>
                <br/>
                <p:separator/>

                <p:dataTable id="thisData" 
                             value="#{masterKelompokCOAController.lazyTblKelompokCoa}" var="eachData"
                             selectionMode="single"
                             selection="#{masterKelompokCOAController.tblKelompokCoa}"
                             rowKey="#{eachData.kelompokCoaId}"
                             paginator="true"
                             rowsPerPageTemplate="15, 25, 50"
                             rows="15"
                             lazy="true"
                             resizableColumns="true"
                             emptyMessage="No Data"
                             styleClass="simrs-panelgrid">
                    <p:column style="font-size: 13px;" headerText="Kode" sortBy="#{eachData.kelompokCoaKode}" filterBy="#{eachData.kelompokCoaKode}">
                        <h:outputText value="#{eachData.kelompokCoaKode}" styleClass="simrs-textInput"/>
                    </p:column>
                    <p:column style="font-size: 13px;" headerText="Nama" sortBy="#{eachData.kelompokCoaNama}" filterBy="#{eachData.kelompokCoaNama}">
                        <h:outputText value="#{eachData.kelompokCoaNama}" styleClass="simrs-textInput"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </center>

        <!--=INSERT ====================================================-->
        <h:form id="formDlgInsert">
            <p:dialog id="dlgInsert"
                      widgetVar="widDlgInsert"
                      header="Kelompok COA"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:panelGrid id="pgridInsert" columns="3" >
                    <h:outputText value="Kode"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterKelompokCOAController.tblKelompokCoa.kelompokCoaKode}"
                                 required="true"
                                 requiredMessage="Kode harus diisi."
                                 maxlength="3"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkNumber(event)">
                        <f:validator validatorId="com.hospital.util.validator.UniqueValidator"/>
                        <f:attribute name="table" value="tbl_kelompok_coa"/>
                        <f:attribute name="column" value="kelompok_coa_kode" />
                        <f:attribute name="info" value="Kelompok COA"/>
                        <f:attribute name="actInfo" value="A"/>
                        <f:attribute name="compare" value="#{masterKelompokCOAController.nameTemp}"/>
                    </p:inputText>

                    <h:outputText value="Nama"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterKelompokCOAController.tblKelompokCoa.kelompokCoaNama}"
                                 required="true"
                                 requiredMessage="Nama harus diisi."
                                 maxlength="50"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkAlpNumeric(event)"/>

                    <h:outputText value=""/>
                    <h:outputText value=""/>
                    <p:commandButton value="Save"
                                     actionListener="#{masterKelompokCOAController.insert()}"
                                     update="pgridInsert"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

        <!--=UPDATE====================================================-->
        <h:form id="formDlgUpdate">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Ubah Data Kelompok COA"
                      modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid id="pgridUpdate" columns="3" >
                    <h:outputText value="Kode"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterKelompokCOAController.tblKelompokCoa.kelompokCoaKode}"
                                 required="true"
                                 requiredMessage="Kode harus diisi."
                                 maxlength="3"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkNumber(event)">
                        <f:validator validatorId="com.hospital.util.validator.UniqueValidator"/>
                        <f:attribute name="table" value="tbl_kelompok_coa"/>
                        <f:attribute name="column" value="kelompok_coa_kode" />
                        <f:attribute name="info" value="Kelompok COA"/>
                        <f:attribute name="actInfo" value="U"/>
                        <f:attribute name="compare" value="#{masterKelompokCOAController.nameTemp}"/>
                    </p:inputText>

                    <h:outputText value="Nama"/>
                    <h:outputText value=":"/>
                    <p:inputText value="#{masterKelompokCOAController.tblKelompokCoa.kelompokCoaNama}"
                                 required="true"
                                 requiredMessage="Nama harus diisi."
                                 maxlength="50"
                                 onblur="value = trim(this.value)"
                                 onkeypress="return checkAlpNumeric(event)"/>

                    <h:outputText value=""/>
                    <h:outputText value=""/>

                    <p:commandButton value="Save"
                                     actionListener="#{masterKelompokCOAController.update()}"
                                     update="pgridUpdate"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>

        <!--=DELETE=============================================================-->
        <h:form id="formCfmDelete">
            <p:confirmDialog id="cfmDelete"
                             widgetVar="widCfmDelete"
                             header="Hapus Kelompok COA"
                             message="Apakah anda yakin akan menghapus data ini?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes" actionListener="#{masterKelompokCOAController.delete()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widCfmDelete.hide()"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
