<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Neraca Saldo
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm">

            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <h:outputLabel value="Jenis Laporan" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:selectOneMenu value="#{balanceSheetController.selectedLaporan}">
                            <p:ajax event="change" update="thisForm"
                                    listener="#{balanceSheetController.jenisLaporanOnChange}" />
                            <f:selectItem itemLabel="Pilih Laporan" itemValue="" noSelectionOption="true" />
                            <f:selectItem itemLabel="Neraca" itemValue="Neraca" />
                            <f:selectItem itemLabel="Laba/Rugi" itemValue="Laba/Rugi" />
                        </p:selectOneMenu>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{balanceSheetController.checkBoxFilterLevel}">
                            <p:ajax update="filterLevel,filterTanggal,buttonFilter"
                                    listener="#{balanceSheetController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="Filter Level" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:selectOneMenu id="filterLevel"
                                         disabled="#{balanceSheetController.toggleFilterLevel}"
                                         value="#{balanceSheetController.selectedLevel}">
                            <f:selectItem itemLabel="Pilih Level" itemValue="" noSelectionOption="true" />
                            <f:selectItem itemLabel="1" itemValue="1" />
                            <f:selectItem itemLabel="2" itemValue="2" />
                            <f:selectItem itemLabel="3" itemValue="3" />
                            <f:selectItem itemLabel="4" itemValue="4" />
                            <f:selectItem itemLabel="5" itemValue="5" />
                            <f:selectItem itemLabel="6" itemValue="6" />
                            <f:selectItem itemLabel="7" itemValue="7" />
                        </p:selectOneMenu>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{balanceSheetController.checkBoxFilterTanggal}">
                            <p:ajax update="filterTanggal,buttonFilter"
                                    listener="#{balanceSheetController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column>
                        <h:outputText value="Filter Periode"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column style="width: 200px;">
                        <p:calendar value="#{balanceSheetController.selectedFilterTanggal}" id="filterTanggal"
                                    disabled="#{balanceSheetController.toggleFilterTanggal}"
                                    pattern="yyyy-MM"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    title="Periode">
                        </p:calendar>
                    </p:column>

<!--                    <p:column>
                        <p:selectBooleanCheckbox value="#{balanceSheetController.checkBoxFilterUnit}">
                            <p:ajax update="filterUnit,buttonFilter"
                                    listener="#{balanceSheetController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputText value="Filter Acc."/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column>
                        <p:autoComplete id="filterUnit"
                                        disabled="#{balanceSheetController.toggleFilterUnit}"
                                        forceSelection="true" value="#{balanceSheetController.selectedFilterAcc}"   
                                        completeMethod="#{balanceSheetController.findNoAcc}" maxResults="10">
                        </p:autoComplete>
                    </p:column>-->
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{balanceSheetController.doFilter()}"
                                         disabled="#{balanceSheetController.toggleButtonFilter}"
                                         process="@this thisForm:filterLevel thisForm:filterTanggal "
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="BalanceSheet.xhtml"
                                         process="@this"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Neraca Saldo" >
                    <p:dataTable value="#{balanceSheetController.listbalanceSheet}" var="eachData"
                                 scrollable="true" scrollHeight="480"
                                 selectionMode="single"
                                 rowKey="#{eachData.balanceSheetId}"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">

                        <p:column style="font-size: 13px; width: 5%;" headerText="No. Acc." footerText=""  >
                            <h:outputText value="#{eachData.balanceSheetCoaId.coaAccountNo}"  styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 15%;" headerText="Nama Acc." footerText="Total :"  >
                            <h:outputText value="#{eachData.balanceSheetCoaId.coaAccountNamaAddTabBasedOnLevel}" style="width: 10%;" styleClass="simrs-textInputUseWhiteSpaces"/>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Saldo Awal" footerText="#{balanceSheetController.totalSaldoAwalFormatter}"  >
                            <h:outputText value="#{eachData.balanceSheetSaldoAwal}"  styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;width: 10%;" headerText="Debit" footerText="#{balanceSheetController.totalDebitFormatter}"  >
                            <p:commandLink actionListener="#{balanceSheetController.prepareDialogLedger(eachData.balanceSheetCoaId.coaAccountNo)}" >
                                <h:outputText value="#{eachData.balanceSheetDebit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:commandLink>
                        </p:column>
                        <p:column style="font-size: 13px;width: 10%;" headerText="Kredit" footerText="#{balanceSheetController.totalKreditFormatter}"  >
                            <p:commandLink actionListener="#{balanceSheetController.prepareDialogLedgerKredit(eachData.balanceSheetCoaId.coaAccountNo)}" >
                                <h:outputText value="#{eachData.balanceSheetKredit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:commandLink>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Mutasi" footerText="#{balanceSheetController.totalMutasiFormatter}"  >
                            <h:outputText value="#{eachData.balanceSheetMutasiSwitch}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Neraca" footerText="#{balanceSheetController.totalNeracaFormatter}"  >
                            <h:outputText value="#{eachData.balanceSheetNeraca}"  styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Laba Rugi" footerText="#{balanceSheetController.totalLabaRugiFormatter}"  >
                            <h:outputText value="#{eachData.balanceSheetLabaRugi}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>

                        <!--                        <p:columnGroup type="footer">
                                                    <p:row>
                                                        <p:column colspan="3" footerText="Total: " style="text-align:right"/>
                                                        <p:column footerText="#{balanceSheetController.totalDebit}" />
                                                        <p:column footerText="#{balanceSheetController.totalKredit}" />
                                                        <p:column footerText="#{balanceSheetController.totalMutasi}" />
                                                        <p:column footerText="#{balanceSheetController.totalNeraca}" />
                                                        <p:column footerText="#{balanceSheetController.totalLabaRugi}" />
                                                    </p:row>
                                                </p:columnGroup>-->

                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </h:form>

        <h:form id="formPosting">
            <p:dialog id="dlgPosting"
                      widgetVar="widDlgPosting"
                      header="Ledger"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelPasen" mode="native" style="height: 500px;">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <p:dataTable value="#{balanceSheetController.lazyTrxLedger}" var="eachData"
                                     paginator="true"
                                     rowsPerPageTemplate="20, 50, 100"
                                     rows="20"
                                     lazy="true"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-panelgrid">


                            <p:column style="font-size: 13px;" headerText="No. Ref" >
                                <h:outputText value="#{eachData.ledgerNoRef}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Tanggal" >
                                <h:outputText value="#{eachData.ledgerTglString}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="No. Acc" >
                                <h:outputText value="#{eachData.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Desc" >
                                <h:outputText value="#{eachData.ledgerDesc}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Debit" >
                                <h:outputText value="#{eachData.ledgerDebit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Kredit" >
                                <h:outputText value="#{eachData.ledgerKredit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
