<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Buku Hutang
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm" target="_blank">
            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <h:outputLabel value="Cari No. Ref" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{bukuHutangController.searchNoRef}"   
                                        completeMethod="#{bukuHutangController.findNoRef}" minQueryLength="3" maxResults="10"> 
                            <p:ajax event="itemSelect" listener="#{bukuHutangController.searchByNoRef()}" update="thisForm:thisData"/>               
                        </p:autoComplete>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{bukuHutangController.checkBoxFilterTanggal}">
                            <p:ajax update="filterTanggal,buttonFilter"
                                    listener="#{bukuHutangController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column>
                        <h:outputText value="Periode"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column style="width: 200px;">
                        <p:calendar value="#{bukuHutangController.selectedFilterTanggal}" id="filterTanggal"
                                    pattern="yyyy-MM"
                                    disabled="#{bukuHutangController.toggleFilterTanggal}"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    title="Tanggal Awal">
                        </p:calendar>
                    </p:column>
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{bukuHutangController.loadTable()}"
                                         disabled="#{bukuHutangController.toggleButtonFilter}"
                                         process="@this thisForm:filterTanggal"
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="kasir.xhtml"
                                         process="@this"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Buku Hutang" >
                    <p:commandButton value="Cetak"
                                     icon="ui-icon-print"
                                     actionListener="#{bukuHutangController.doPrintAccountHutang()}"
                                     immediate="true" ajax="false"/>
                    <p:dataTable value="#{bukuHutangController.listBukuKas}" var="eachData"
                                 scrollable="true" scrollHeight="480"
                                 selectionMode="single"
                                 rowKey="#{eachData.ledgerId}"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">
                        <f:facet name="header">
                            Saldo Awal : #{bukuHutangController.saldoAwalKas}
                        </f:facet>

                        <p:column style="font-size: 13px;" headerText="No. Ref" >
                            <h:outputText value="#{eachData.ledgerNoRef}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Tanggal" >
                            <h:outputText value="#{eachData.ledgerTglString}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="No. Acc" >
                            <h:outputText value="#{eachData.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Desc" >
                            <h:outputText value="#{eachData.ledgerDesc}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Debit" >
                            <h:outputText value="#{eachData.ledgerDebit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Kredit" >
                            <h:outputText value="#{eachData.ledgerKredit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Saldo" >
                            <h:outputText value="#{eachData.saldoAkhir}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>

                        <f:facet name="footer" class="header">
                            Saldo Akhir : #{bukuHutangController.saldoAkhirKas}
                        </f:facet>
                    </p:dataTable>
                </p:tab>
                <p:tab title="Buku Piutang" >
                    <p:commandButton value="Cetak"
                                     icon="ui-icon-print"
                                     actionListener="#{bukuHutangController.doPrintAccountPiutang()}"
                                     immediate="true" ajax="false"/>
                    <p:dataTable value="#{bukuHutangController.listBukuKasBank}" var="eachData"
                                 scrollable="true" scrollHeight="480"
                                 selectionMode="single"
                                 rowKey="#{eachData.ledgerId}"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">
                        <f:facet name="header">
                            Saldo Awal : #{bukuHutangController.saldoAwalBank}
                        </f:facet>

                        <p:column style="font-size: 13px;" headerText="No. Ref" >
                            <h:outputText value="#{eachData.ledgerNoRef}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Tanggal" >
                            <h:outputText value="#{eachData.ledgerTglString}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="No. Acc" >
                            <h:outputText value="#{eachData.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Desc" >
                            <h:outputText value="#{eachData.ledgerDesc}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Debit" >
                            <h:outputText value="#{eachData.ledgerKredit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Kredit" >
                            <h:outputText value="#{eachData.ledgerDebit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Saldo" >
                            <h:outputText value="#{eachData.saldoAkhir}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>

                        <f:facet name="footer" class="header">
                            Saldo Akhir : #{bukuHutangController.saldoAkhirBank}
                        </f:facet>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </h:form>
    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
