<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Kas Keluar
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm">
            <center>
                <p:commandButton value="Tambah Kas Keluar"
                                 icon="ui-icon-document"
                                 update="thisForm"
                                 actionListener="#{cashOutController.prepareDialogCashIn()}"/>

                <br/>
                <p:separator/>
            </center>

            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <h:outputLabel value="Cari No. Ref" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{cashOutController.searchNoRef}"   
                                        completeMethod="#{cashOutController.findNoRef}" minQueryLength="3" maxResults="10"> 
                            <p:ajax event="itemSelect" listener="#{cashOutController.searchByNoRef()}" update="thisForm:thisData"/>               
                        </p:autoComplete>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{cashOutController.checkBoxFilterTanggal}">
                            <p:ajax update="filterTanggal,buttonFilter"
                                    listener="#{cashOutController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column>
                        <h:outputText value="Filter Tanggal"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column style="width: 200px;">
                        <p:calendar value="#{cashOutController.selectedFilterTanggal}" id="filterTanggal"
                                    disabled="#{cashOutController.toggleFilterTanggal}"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    pattern="#{cashOutController.pattern3}"
                                    title="Tanggal Awal">
                        </p:calendar>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{cashOutController.checkBoxFilterUnit}">
                            <p:ajax update="filterUnit,buttonFilter"
                                    listener="#{cashOutController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputText value="Filter Acc."/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column>
                        <p:autoComplete id="filterUnit"
                                        disabled="#{cashOutController.toggleFilterUnit}"
                                        forceSelection="true" value="#{cashOutController.selectedFilterAcc}"   
                                        completeMethod="#{cashOutController.findNoAcc}" maxResults="10">
                        </p:autoComplete>
                    </p:column>
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{cashOutController.doFilter()}"
                                         disabled="#{cashOutController.toggleButtonFilter}"
                                         process="@this thisForm:filterTanggal thisForm:filterUnit"
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="CashOut.xhtml"
                                         process="@this"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Kas Masuk" >
                    <p:dataTable value="#{cashOutController.lazyTrxCashInHead}" var="eachData"
                                 paginator="true"
                                 rowsPerPageTemplate="20, 50, 100"
                                 rows="20"
                                 lazy="true"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">

                        <p:ajax event="rowToggle" listener="#{cashOutController.onRowToggle}" update="tableDetail" />

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column style="font-size: 13px;" headerText="No. Ref" >
                            <h:outputText value="#{eachData.cashInHeadNoRef}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Tanggal" >
                            <h:outputText value="#{eachData.cashInHeadTglString}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="No. Acc." >
                            <h:outputText value="#{eachData.cashInHeadCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Nama Acc." >
                            <h:outputText value="#{eachData.cashInHeadCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Jumlah" >
                            <h:outputText value="#{eachData.cashInHeadJumlah}" styleClass="simrs-textInput">
                                <f:convertNumber type="currency" currencySymbol="Rp. "/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Posting" >
                            <h:outputText value="#{eachData.hasPostedYet}" styleClass="simrs-textInput" />
                        </p:column>
                        <p:column style="width:25px;text-align: center">
                            <p:commandButton id="edit" style="width:25px;height: 25px;" icon="ui-icon-pencil" disabled="#{eachData.isPostedYet}" action="#{cashOutController.prepareDialogEditCashIn(eachData)}" immediate="true">
                            </p:commandButton>
                            <p:tooltip for="edit" value="Edit Kas Masuk" position="left" style="margin-top: -20px;"/>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="tableDetail" value="#{cashOutController.listTableDetail}" var="eachDataChild"
                                         resizableColumns="true"
                                         emptyMessage="No Data"
                                         styleClass="simrs-panelgrid">
                                <p:column style="font-size: 13px;width: 70px;" headerText="No. Ref" >
                                    <h:outputText value="#{eachDataChild.cashInDetailCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 70px;" headerText="Acc. No." >
                                    <h:outputText value="#{eachDataChild.cashInDetailCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 100px;" headerText="Nama Acc." >
                                    <h:outputText value="#{eachDataChild.cashInDetailCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 100px;" headerText="Keterangan" >
                                    <h:outputText value="#{eachDataChild.cashInDetailKeterangan}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 70px;" headerText="Jumlah" >
                                    <h:outputText value="#{eachDataChild.cashInDetailJumlah}" style="float:right">
                                        <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </p:tab>
                <p:tab title="Belum Posting" >
                    <p:dataTable id="tableDetail" value="#{cashOutController.lazyTrxCashInHeadNotPostedYet}" var="eachData"
                                 selection="#{cashOutController.selectedNotPostedYet}"
                                 rowKey="#{eachData.cashInHeadId}"
                                 paginator="true"
                                 rowsPerPageTemplate="20, 50, 100"
                                 rows="20"
                                 lazy="true"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">

                        <f:facet name="header">
                            <p:commandButton icon="fa fa-calculator" value="Posting" actionListener="#{cashOutController.preparePosting()}" />
                        </f:facet>

                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                        <p:column style="font-size: 13px;" headerText="No. Ref" >
                            <h:outputText value="#{eachData.cashInHeadNoRef}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Tanggal" >
                            <h:outputText value="#{eachData.cashInHeadTglString}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="No. Acc." >
                            <h:outputText value="#{eachData.cashInHeadCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Nama Acc." >
                            <h:outputText value="#{eachData.cashInHeadCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Jumlah" >
                            <h:outputText value="#{eachData.cashInHeadJumlah}" styleClass="simrs-textInput">
                                <f:convertNumber type="currency" currencySymbol="Rp. "/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </p:tab>

            </p:tabView>
        </h:form>

        <h:form id="formPosting">
            <p:dialog id="dlgPosting"
                      widgetVar="widDlgPosting"
                      header="Posting"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelPasen" mode="native" style="height: 500px;">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <center>
                            <p:panelGrid  columns="3" columnClasses="label,value">
                                <h:outputText value="Tanggal" />
                                <h:outputText value=":" />
                                <p:calendar pattern="dd-MM-yyyy" disabled="true" value="#{cashOutController.tglPosting}" />

                                <!--                            <h:outputText value="Jumlah" />
                                                            <h:outputText value=":" />
                                                            <p:inputText disabled="true" value="#{cashOutController.jumlahPostingFormatted}" />-->

                                <h:outputText value="Katerangan" />
                                <h:outputText value=":" />
                                <p:inputTextarea value="#{cashOutController.keteranganPosting}" 
                                                 rows="5" cols="20"
                                                 autoResize="false" />
                            </p:panelGrid>
                        </center>

                        <p:dataTable value="#{cashOutController.listLedgerPreview}" var="lgr"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-datatable">

                            <p:column style="font-size: 13px;" headerText="No. Ref" >
                                <h:outputText value="#{lgr.ledgerNoRef}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Tanggal" >
                                <h:outputText value="#{lgr.ledgerTglString}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="No. Acc" >
                                <h:outputText value="#{lgr.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Desc" >
                                <h:outputText value="#{lgr.ledgerDesc}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Debit" >
                                <h:outputText value="#{lgr.ledgerDebit}" styleClass="simrs-textInput">
                                    <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                </h:outputText>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Kredit" >
                                <h:outputText value="#{lgr.ledgerKredit}" styleClass="simrs-textInput">
                                    <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                </h:outputText>
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column colspan="4" style="text-align:right" footerText="Totals:" />
                                    <p:column footerText="Rp. #{cashOutController.jumlahPostingFormatted}" />

                                    <p:column footerText="Rp. #{cashOutController.jumlahPostingKreditFormatted}" />
                                </p:row>
                            </p:columnGroup>

                        </p:dataTable>
                        <center>
                            <p:commandButton value="Posting"
                                             update="thisForm"
                                             actionListener="#{cashOutController.doPosting()}"/>
                            <p:commandButton value="Cancel"
                                             update="thisForm"
                                             oncomplete="PF('widDlgPosting').hide()"/>
                        </center>
                    </p:outputPanel>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

        <h:form id="formDlgKasir" prependId="true">
            <p:dialog id="dlgKasir"
                      widgetVar="widDlgKasir"
                      header="Data Kas Keluar"
                      modal="true"
                      position="center"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelPasen" mode="native" style="height: 500px;">
                    <!--<p:panel id="basic" header="KUINTANSI POLIKLINIK/UNIT PENUNJANG MEDIK" style="text-align: center">-->
                    <center>
                        <p:panelGrid id="panelgridKasir" columns="2" >
                            <p:panelGrid columns="3">
                                <h:outputText value="No. Bukti"/>
                                <h:outputText value=":"/>
                                <p:inputText value="#{cashOutController.trxCashInHead.cashInHeadNoRef}"
                                             disabled="true"/>

                                <h:outputText value="Jenis"/>
                                <h:outputText value=":"/>
                                <p:selectOneRadio value="#{cashOutController.selectedJenisAccount}" >
                                    <f:selectItem itemLabel="Account Kas" itemValue="Account Kas" />
                                    <f:selectItem itemLabel="Account Bank" itemValue="Account Bank" />
                                    <p:ajax event="valueChange" listener="#{cashOutController.loadListAccount()}" process="@this" update="account" />
                                </p:selectOneRadio>

                                <h:outputText value="Account"/>
                                <h:outputText value=":"/>
                                <p:selectOneMenu id="account" value="#{cashOutController.selectedAccount}" required="true" requiredMessage="Pilih account terlebih dahulu" >
                                    <f:selectItems value="#{cashOutController.listAccount}" var="acc" itemLabel="#{acc.coaAccountNo} - #{acc.coaAccountNama}" itemValue="#{acc.coaAccountNo}" />
                                </p:selectOneMenu>


                            </p:panelGrid>
                            <p:panelGrid columns="3">
                                <h:outputText value="Tanggal"/>
                                <h:outputText value=":"/>
                                <p:calendar value="#{cashOutController.trxCashInHead.cashInHeadTgl}" pattern="dd/MM/yyyy" required="true" requiredMessage="Tanggal harus diisi" showOn="button" />

                                <h:outputText value="Keterangan"/>
                                <h:outputText value=":"/>
                                <p:inputTextarea value="#{cashOutController.trxCashInHead.cashInHeadKeterangan}" />
                            </p:panelGrid>
                        </p:panelGrid>
                        <p:commandButton value="Simpan Kas Keluar"
                                         icon="ui-icon-disk"
                                         actionListener="#{cashOutController.doSaveCashIn()}"
                                         update=":formDlgKasir:panelPasen"/>
                        <br/>

                        <p:dataTable id="dtCashIn" 
                                     value="#{cashOutController.listDetail}" var="dtCash"
                                     rowKey="#{dtCash.cashInDetailId}"
                                     editable="true"
                                     editMode="cell"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-datatable">

                            <f:facet name="header">
                                <p:commandButton icon="fa fa-plus" value="Tambah" actionListener="#{cashOutController.insertNewRowDetail()}" immediate="true" />
                            </f:facet>

<!--<p:ajax event="cellEdit" listener="#{kasirController.tableOnEdit()}" />-->
                            <p:column style="width:32px;text-align: center">
                                <p:commandButton id="delete" style="width:25px;height: 25px;" icon="ui-icon-close" actionListener="#{cashOutController.deleteDetail(dtCash)}" update=":formDlgKasir:dtCashIn :formDlgKasir:subtotal" immediate="true"/>
                                <p:tooltip for="delete" value="Hapus" position="left"/>
                            </p:column>

                            <p:column headerText="Bagian" style="width: 100px" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{dtCash.bagian}"/></f:facet>
                                    <f:facet name="input">
                                        <h:selectOneMenu id="layanan" value="#{dtCash.bagian}" style="width:96%" >
                                            <f:selectItem itemLabel="Pilih Layanan" itemValue="" noSelectionOption="true" />
                                            <f:selectItems value="#{cashOutController.listAccountSetup}" var="lay" itemLabel="#{lay.accountSetupName}" itemValue="#{lay.accountSetupName}" />
                                            <p:ajax event="change" update="outAccNo, inAccNo, outAccNama, inAccNama" listener="#{cashOutController.bagianOnChange(dtCash)}" />
                                        </h:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Acc. No." style="width: 100px" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText id="outAccNo" value="#{dtCash.accountNo}"/></f:facet>
                                    <f:facet name="input"><p:inputText id="inAccNo" value="#{dtCash.accountNo}" style="width:96%" readonly="true" /></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Acc. Nama" style="width: 100px" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText id="outAccNama" value="#{dtCash.accountNama}"/></f:facet>
                                    <f:facet name="input"><p:inputText id="inAccNama" value="#{dtCash.accountNama}" style="width:96%" readonly="true" /></f:facet>
                                </p:cellEditor>
                            </p:column>              

                            <p:column headerText="Keterangan" styleClass="simrs-columsKasir" style="width: 300px">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{dtCash.cashInDetailKeterangan}"/></f:facet>
                                    <f:facet name="input"><p:inputText id="modelQty" value="#{dtCash.cashInDetailKeterangan}" style="width:96%" /></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Jumlah" styleClass="simrs-columsKasir" style="width: 130px">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText id="outJumlah" value="#{dtCash.cashInDetailJumlahFormatter}" style="float:right">
                                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="modelJumlah" value="#{dtCash.cashInDetailJumlahFormatter}" style="width:96%" 
                                                     onkeypress="return checkNumber(event)"
                                                     onkeyup="return addComma(this, event)" >
                                            <p:ajax event="keyup" update=":formDlgKasir:gridFooter" listener="#{cashOutController.jumlahDetailOnChange(dtCash)}" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                        </p:dataTable>
                        <p:contextMenu for="dtCashIn" widgetVar="cMenu">   
                            <!--<p:menuitem value="Edit Cell" icon="ui-icon-search" onclick="PF('cellCars').showCellEditor();return false;"/>-->  
                            <p:menuitem value="Hapus Layanan" icon="ui-icon-close" actionListener="#{kasirController.hapusDetailPembayaran()}" />  
                        </p:contextMenu>
                    </center>
                    <p:panelGrid id="gridFooter" columns="3" style="float: right;">
                        <h:outputText value="Sub Total" />
                        <h:outputText value=":" />
                        <p:inputText id="subtotal" value="#{cashOutController.subTotalFormatter}" disabled="true" style="width: 200px;text-align: right;"  />
                    </p:panelGrid>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
