<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Penyusutan Fix Asset
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm">

            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <h:outputText value="Filter Periode"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column style="width: 200px;">
                        <p:calendar value="#{depreciationFixAssetsController.selectedFilterTanggal}" id="filterTanggal"
                                    pattern="yyyy-MM"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    title="Periode">
                        </p:calendar>
                    </p:column>
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{depreciationFixAssetsController.loadTable()}"
                                         process="@this thisForm:filterTanggal"
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="BalanceSheet.xhtml"
                                         process="@this"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Fix Assets" >
                    <p:dataTable value="#{depreciationFixAssetsController.listTrxPenyusutan}" var="eachData"
                                 scrollable="true" scrollHeight="500"
                                 selectionMode="single"
                                 rowKey="#{eachData.penyusutanId}"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">
                        
                        <f:facet name="header">
                            <p:commandButton icon="fa fa-calculator" value="Posting" actionListener="#{depreciationFixAssetsController.preparePosting()}" />
                        </f:facet>

                        <p:column style="font-size: 13px; width: 15%;" headerText="Fix Asset" footerText=""  >
                            <h:outputText value="#{eachData.penyusutanFixAssetsId.fixAssetsNama}"  styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 7%;" headerText="Tgl Perolehan" footerText=""  >
                            <h:outputText value="#{eachData.penyusutanFixAssetsId.fixAssetsTglPerolehanString}" style="width: 10%;" styleClass="simrs-textInputUseWhiteSpaces"/>
                        </p:column>
                        <p:column style="font-size: 13px; width: 5%;" headerText="Qty" footerText="Total :"  >
                            <h:outputText value="#{eachData.penyusutanFixAssetsId.fixAssetsJumlah}"  styleClass="simrs-textInput" style="float:right">
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;width: 10%;" headerText="Nilai Perolehan" footerText="#{depreciationFixAssetsController.totalNilaiPerolehanFormatter}"  >
                            <h:outputText value="#{eachData.penyusutanFixAssetsId.fixAssetsNilaiPerolehan}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;width: 10%;" headerText="Nilai Akumulasi" footerText="#{depreciationFixAssetsController.totalNilaiAkumulasiFormatter}"  >
                            <h:outputText value="#{eachData.penyusutanNilaiAkumulasi}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Nilai Buku Awal" footerText="#{depreciationFixAssetsController.totalNilaiBukuAwalFormatter}"  >
                            <h:outputText value="#{eachData.penyusutanNilaiBukuAwal}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Nilai Penyusutan" footerText="#{depreciationFixAssetsController.totalNilaiPenyusutanFormatter}"  >
                            <h:outputText value="#{eachData.penyusutanNilaiPenyusutan}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px; width: 10%;" headerText="Nilai Buku Akhir" footerText="#{depreciationFixAssetsController.totalNilaiBukuAkhirFormatter}"  >
                            <h:outputText value="#{eachData.penyusutanNilaiBukuAkhir}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </h:form>

        <h:form id="formPosting">
            <p:dialog id="dlgPosting"
                      widgetVar="widDlgPosting"
                      header="Ledger"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelPasen" mode="native" style="height: 500px;">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <p:dataTable value="#{depreciationFixAssetsController.listLedgerPreview}" var="posting"
                                     paginator="true"
                                     rowsPerPageTemplate="20, 50, 100"
                                     rows="20"
                                     lazy="true"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-panelgrid">


                            <p:column style="font-size: 13px;" headerText="No. Ref" >
                                <h:outputText value="#{posting.ledgerNoRef}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Tanggal" >
                                <h:outputText value="#{posting.ledgerTglString}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="No. Acc" >
                                <h:outputText value="#{posting.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Desc" >
                                <h:outputText value="#{posting.ledgerDesc}" styleClass="simrs-textInput"/>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Debit" >
                                <h:outputText value="#{posting.ledgerDebit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>
                            <p:column style="font-size: 13px;" headerText="Kredit" >
                                <h:outputText value="#{posting.ledgerKredit}" styleClass="simrs-textInput" style="float:right">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
