<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Jurnal Umum
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm">
            <center>
                <p:commandButton value="Tambah Jurnal Umum Baru"
                                 icon="ui-icon-document"
                                 update="thisForm"
                                 actionListener="#{jurnalUmum.prepareInsertPembayaran()}"/>
                <br/>
                <p:separator/>
            </center>

            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <p:selectBooleanCheckbox value="#{jurnalUmum.checkBoxFilterNoJurnal}">
                            <p:ajax update="filterNoJurnal,buttonFilter"
                                    listener="#{jurnalUmum.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="No. Jurnal" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:autoComplete forceSelection="true" id="filterNoJurnal" value="#{jurnalUmum.searchNoJurnal}"   
                                        completeMethod="#{jurnalUmum.findNoJurnal}"
                                        disabled="#{jurnalUmum.toggleFilterNoJurnal}"
                                        size="20">              
                        </p:autoComplete>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{jurnalUmum.checkBoxFilterTanggal}">
                            <p:ajax update="filterTanggal,buttonFilter"
                                    listener="#{jurnalUmum.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column>
                        <h:outputText value="Tanggal"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column>
                        <p:calendar value="#{jurnalUmum.searchTanggal}" id="filterTanggal"
                                    disabled="#{jurnalUmum.toggleFilterTanggal}"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    pattern="#{jurnalUmum.pattern3}"
                                    title="Tanggal Awal"
                                    size="15">
                        </p:calendar>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{jurnalUmum.checkBoxFilterCoa}">
                            <p:ajax update="filterCoa,buttonFilter"
                                    listener="#{jurnalUmum.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputText value="Coa/ Acc"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column>
                        <p:autoComplete forceSelection="true" id="filterCoa" value="#{jurnalUmum.searchCoa}"   
                                        completeMethod="#{jurnalUmum.findCoa}"
                                        minQueryLength="2"
                                        disabled="#{jurnalUmum.toggleFilterCoa}"
                                        size="40">              
                        </p:autoComplete>
                    </p:column>
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{jurnalUmum.doFilter()}"
                                         disabled="#{jurnalUmum.toggleButtonFilter}"
                                         process="@this thisForm:filterNoJurnal thisForm:filterTanggal thisForm:filterCoa"
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="JurnalUmum.xhtml"
                                         process="@this"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <br/>

            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Daftar Jurnal Umum" >
                    <p:dataTable value="#{jurnalUmum.lazyTrxLedgerGroupJurnalUmum}" var="leaderGroup"
                                 paginator="true"
                                 rowsPerPageTemplate="10, 25, 50"
                                 rows="10"
                                 lazy="true"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">
                        <p:ajax event="rowToggle" listener="#{jurnalUmum.onRowToggle1}" update="tableDetail1" />

                        <p:column style="width: 3%;">
                            <p:rowToggler />
                        </p:column>

                        <p:column style="text-align:center;font-size: 13px;width: 15%;" headerText="No. Jurnal" sortBy="#{leaderGroup.ledgerGroupNoJurnalUmum}">
                            <h:outputText value="#{leaderGroup.ledgerGroupNoJurnalUmum}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="text-align:center;font-size: 13px;width: 10%;" headerText="Tanggal" sortBy="#{leaderGroup.ledgerGroupTgl}">
                            <h:outputText value="#{leaderGroup.ledgerGroupTglDesc}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 40%;" headerText="Keterangan" sortBy="#{leaderGroup.ledgerGroupKeteranganJurnalUmum}">
                            <h:outputText value="#{leaderGroup.ledgerGroupKeteranganJurnalUmum}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 12%;" headerText="Nominal" >
                            <h:outputText value="#{leaderGroup.nominal}" style="float:right">
                                <f:convertNumber type="currency" currencySymbol="Rp. "/>
                            </h:outputText>
                        </p:column>
                        <p:column style="text-align:center;font-size: 13px;width: 10%;" headerText="Posting ?" sortBy="#{leaderGroup.ledgerGroupStatusJurnalUmum}">
                            <h:outputText value="#{leaderGroup.statusJurnalUmumDesc}" styleClass="simrs-textInput"/>
                        </p:column>

                        <p:column style="text-align:center;font-size:13px;width: 5%;" headerText="Hapus">
                            <p:commandButton style="width:25px;" actionListener="#{jurnalUmum.prepareDeleteJurnalUmum(leaderGroup)}" icon="ui-icon-close" process="@this"/>
                        </p:column>

                        <p:column style="text-align:center;font-size:13px;width: 5%;" headerText="Edit">
                            <p:commandButton style="width:25px;" actionListener="#{jurnalUmum.prepareEditJurnalUmum(leaderGroup)}" icon="ui-icon-pencil"/>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="tableDetail1" value="#{jurnalUmum.listDetailForTable1}" var="eachDataChild"
                                         resizableColumns="true"
                                         emptyMessage="No Data"
                                         styleClass="simrs-panelgrid">
                                <p:column style="text-align:center;font-size: 13px;width: 13%;" headerText="No. Ref" >
                                    <h:outputText value="#{eachDataChild.ledgerNoRef}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 28%;" headerText="Akun COA" >
                                    <h:outputText value="#{eachDataChild.ledgerCoaId.coaAccountNo} - #{eachDataChild.ledgerCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 35%;" headerText="Keterangan" >
                                    <h:outputText value="#{eachDataChild.ledgerKeterangan}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 12%;" headerText="Debit" >
                                    <h:outputText value="#{eachDataChild.ledgerDebit}" style="float:right">
                                        <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="font-size: 13px;width: 12%;" headerText="Kredit" >
                                    <h:outputText  value="#{eachDataChild.ledgerKredit}" style="float:right">
                                        <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </p:tab>
                <p:tab title="Belum Posting" >
                    <p:dataTable value="#{jurnalUmum.lazyTrxLedgerGroupJurnalUmumBelumPosting}" var="leaderGroup"
                                 selection="#{jurnalUmum.selectedJurnalUmumBelumPosting}"
                                 rowKey="#{leaderGroup.ledgerGroupId}"
                                 paginator="true"
                                 rowsPerPageTemplate="10, 25, 50"
                                 rows="10"
                                 lazy="true"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">
                        <p:ajax event="rowToggle" listener="#{jurnalUmum.onRowToggle2}" update="tableDetail2" />
                        <f:facet name="header">
                            <p:commandButton icon="fa fa-calculator" value="Posting" actionListener="#{jurnalUmum.preparePosting()}" />
                        </f:facet>

                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                        <p:column style="width: 3%;">
                            <p:rowToggler />
                        </p:column>

                        <p:column style="text-align:center;font-size: 13px;width: 15%;" headerText="No. Jurnal" sortBy="#{leaderGroup.ledgerGroupNoJurnalUmum}">
                            <h:outputText value="#{leaderGroup.ledgerGroupNoJurnalUmum}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="text-align:center;font-size: 13px;width: 10%;" headerText="Tanggal" sortBy="#{leaderGroup.ledgerGroupTgl}">
                            <h:outputText value="#{leaderGroup.ledgerGroupTglDesc}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 60%;" headerText="Keterangan" sortBy="#{leaderGroup.ledgerGroupKeteranganJurnalUmum}">
                            <h:outputText value="#{leaderGroup.ledgerGroupKeteranganJurnalUmum}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;width: 12%;" headerText="Nominal" >
                            <h:outputText value="#{leaderGroup.nominal}" style="float:right">
                                <f:convertNumber type="currency" currencySymbol="Rp. "/>
                            </h:outputText>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="tableDetail2" value="#{jurnalUmum.listDetailForTable2}" var="eachDataChild"
                                         resizableColumns="true"
                                         emptyMessage="No Data"
                                         styleClass="simrs-panelgrid">
                                <p:column style="text-align:center;font-size: 13px;width: 13%;" headerText="No. Ref" >
                                    <h:outputText value="#{eachDataChild.ledgerNoRef}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 28%;" headerText="Akun COA" >
                                    <h:outputText value="#{eachDataChild.ledgerCoaId.coaAccountNo} - #{eachDataChild.ledgerCoaId.coaAccountNama}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 35%;" headerText="Keterangan" >
                                    <h:outputText value="#{eachDataChild.ledgerKeterangan}" styleClass="simrs-textInput"/>
                                </p:column>
                                <p:column style="font-size: 13px;width: 12%;" headerText="Debit" >
                                    <h:outputText value="#{eachDataChild.ledgerDebit}" style="float:right">
                                        <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="font-size: 13px;width: 12%;" headerText="Kredit" >
                                    <h:outputText  value="#{eachDataChild.ledgerKredit}" style="float:right">
                                        <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                    </h:outputText>
                                </p:column>                               
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </h:form>

        <h:form id="formDlgInsert" prependId="true">
            <p:dialog id="dlgInsert"
                      widgetVar="widDlgInsert"
                      header="Data Jurnal Umum"
                      modal="true"
                      position="center"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelInsert" mode="native" style="height: 600px;">
                    <center>
                        <p:panelGrid columns="3">
                            <h:outputText value="No. Jurnal"/>
                            <h:outputText value=":"/>
                            <p:inputText value="#{jurnalUmum.noJurnal}"
                                         maxlength="50"
                                         onblur="value = trim(this.value)"
                                         required="true" requiredMessage="No. jurnal harus diisi">
                            </p:inputText>

                            <h:outputText value="Tanggal"/>
                            <h:outputText value=":"/>
                            <p:calendar value="#{jurnalUmum.tanggalJurnal}" pattern="dd/MM/yyyy" required="true" requiredMessage="Tanggal harus diisi" />

                            <h:outputText value="Keterangan"/>
                            <h:outputText value=":"/>
                            <p:inputTextarea value="#{jurnalUmum.keteranganJurnal}"
                                             maxlength="250"
                                             onblur="value = trim(this.value)"
                                             required="true" requiredMessage="Keterangan harus diisi">
                            </p:inputTextarea>
                        </p:panelGrid>
                        <br/>
                        <p:commandButton value="Simpan Jurnal Umum"
                                         icon="ui-icon-disk"
                                         update=":formDlgInsert:panelInsert"
                                         actionListener="#{jurnalUmum.saveJurnalUmum()}"/>
                        <br/>

                        <p:dataTable id="dtTableJurnal" 
                                     value="#{jurnalUmum.listDetail}" var="jurnal"
                                     rowKey="#{jurnal.ledgerId}"
                                     editable="true"
                                     editMode="cell"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-datatable">
                            <f:facet name="header">
                                <p:commandButton icon="fa fa-plus" value="Tambah Jurnal" actionListener="#{jurnalUmum.insertNewRowDetail()}" update=":formDlgInsert:dtTableJurnal, :formDlgInsert:gridFooter"/>
                            </f:facet>

                            <p:column style="width: 5%;text-align:center;" styleClass="simrs-columsKasir" headerText="Hapus">
                                <p:commandButton style="width:25px;" actionListener="#{jurnalUmum.deleteDetailInsert(jurnal)}" icon="ui-icon-close" process="@this"/>
                            </p:column>

                            <p:column headerText="No. Ref" style="width: 7%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.ledgerNoRef}"/></f:facet>
                                    <f:facet name="input"><p:inputText value="#{jurnal.ledgerNoRef}"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="No. Acc" style="width: 10%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.detailCoaNo}"/></f:facet>
                                    <f:facet name="input">
                                        <p:autoComplete forceSelection="true" value="#{jurnal.detailCoaNo}"
                                                        completeMethod="#{jurnalUmum.findCoaNo}"
                                                        minQueryLength="1" maxResults="10"
                                                        required="true" requiredMessage="No. Acc harus diisi">
                                            <p:ajax event="itemSelect" listener="#{jurnalUmum.noAccOnChange(jurnal)}" update=":formDlgInsert:dtTableJurnal"/>
                                        </p:autoComplete>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Nama Acc" style="width: 23%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.detailCoaNama}"/></f:facet>
                                    <f:facet name="input">
                                        <p:autoComplete forceSelection="true" value="#{jurnal.detailCoaNama}"
                                                        completeMethod="#{jurnalUmum.findCoaNama}"
                                                        minQueryLength="2" maxResults="10"
                                                        size="50"
                                                        required="true" requiredMessage="Nama Acc harus diisi">
                                            <p:ajax event="itemSelect" listener="#{jurnalUmum.namaAccOnChange(jurnal)}" update=":formDlgInsert:dtTableJurnal"/>
                                        </p:autoComplete>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Keterangan" style="width: 31%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.ledgerKeterangan}"/></f:facet>
                                    <f:facet name="input"><p:inputText value="#{jurnal.ledgerKeterangan}" size="70" required="true" requiredMessage="Keterangan harus diisi"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Debit" styleClass="simrs-columsKasir" style="width: 12%;">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{jurnal.detailDebitFormatter}" style="float:right">
                                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{jurnal.detailDebitFormatter}" 
                                                     onkeypress="return checkNumber(event)"
                                                     onkeyup="return addComma(this, event)"
                                                     required="true" requiredMessage="Jumlah debit harus diisi">
                                            <p:ajax event="keyup" update=":formDlgInsert:gridFooter" listener="#{jurnalUmum.debitOnChange()}" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Kredit" styleClass="simrs-columsKasir" style="width: 12%;">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{jurnal.detailKreditFormatter}" style="float:right">
                                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{jurnal.detailKreditFormatter}"
                                                     onkeypress="return checkNumber(event)"
                                                     onkeyup="return addComma(this, event)"
                                                     required="true" requiredMessage="Jumlah kredit harus diisi">
                                            <p:ajax event="keyup" update=":formDlgInsert:gridFooter" listener="#{jurnalUmum.kreditOnChange()}" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                        </p:dataTable>
                    </center>
                    <p:panelGrid id="gridFooter" columns="3" style="float: right;">
                        <h:outputText value="Total Debit"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalDebitFormatter}" readonly="true" style="width: 200px;text-align: right;"/>

                        <h:outputText value="Total Kredit"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalKreditFormatter}" readonly="true" style="width: 200px;text-align: right;"/>

                        <h:outputText value="Selish"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalSelisihFormatter}" readonly="true" style="width: 200px;text-align: right;"/>
                    </p:panelGrid>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

        <h:form id="formDlgUpdate" prependId="true">
            <p:dialog id="dlgUpdate"
                      widgetVar="widDlgUpdate"
                      header="Update Jurnal Umum"
                      modal="true"
                      position="center"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade">
                <p:scrollPanel id="panelUpdate" mode="native" style="height: 600px;">
                    <center>
                        <p:panelGrid columns="3">
                            <h:outputText value="No. Jurnal"/>
                            <h:outputText value=":"/>
                            <p:inputText value="#{jurnalUmum.noJurnal}"
                                         maxlength="50"
                                         onblur="value = trim(this.value)"
                                         required="true" requiredMessage="No. jurnal harus diisi">
                            </p:inputText>

                            <h:outputText value="Tanggal"/>
                            <h:outputText value=":"/>
                            <p:calendar value="#{jurnalUmum.tanggalJurnal}" pattern="dd/MM/yyyy" required="true" requiredMessage="Tanggal harus diisi" />

                            <h:outputText value="Keterangan"/>
                            <h:outputText value=":"/>
                            <p:inputTextarea value="#{jurnalUmum.keteranganJurnal}"
                                             maxlength="250"
                                             onblur="value = trim(this.value)"
                                             required="true" requiredMessage="Keterangan harus diisi">
                            </p:inputTextarea>
                        </p:panelGrid>
                        <br/>
                        <p:commandButton value="Simpan Perubahan Jurnal Umum"
                                         icon="ui-icon-disk"
                                         update=":formDlgUpdate:panelUpdate"
                                         actionListener="#{jurnalUmum.editJurnalUmum()}"/>
                        <br/>

                        <p:dataTable id="dtTableJurnal" 
                                     value="#{jurnalUmum.listDetail}" var="jurnal"
                                     rowKey="#{jurnal.ledgerId}"
                                     editable="true"
                                     editMode="cell"
                                     resizableColumns="true"
                                     emptyMessage="No Data"
                                     styleClass="simrs-datatable">
                            <f:facet name="header">
                                <p:commandButton icon="fa fa-plus" value="Tambah Jurnal" actionListener="#{jurnalUmum.insertNewRowDetail()}" update=":formDlgUpdate:dtTableJurnal, :formDlgUpdate:gridFooter" />
                            </f:facet>

                            <p:column style="width: 5%;text-align:center;" styleClass="simrs-columsKasir" headerText="Hapus">
                                <p:commandButton style="width:25px;" actionListener="#{jurnalUmum.deleteDetailUpdate(jurnal)}" icon="ui-icon-close" process="@this"/>
                            </p:column>

                            <p:column headerText="No. Ref" style="width: 7%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.ledgerNoRef}"/></f:facet>
                                    <f:facet name="input"><p:inputText value="#{jurnal.ledgerNoRef}"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="No. Acc" style="width: 10%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.detailCoaNo}"/></f:facet>
                                    <f:facet name="input">
                                        <p:autoComplete forceSelection="true" value="#{jurnal.detailCoaNo}"
                                                        completeMethod="#{jurnalUmum.findCoaNo}"
                                                        minQueryLength="1" maxResults="10"
                                                        required="true" requiredMessage="No. Acc harus diisi">
                                            <p:ajax event="itemSelect" listener="#{jurnalUmum.noAccOnChange(jurnal)}" update=":formDlgUpdate:dtTableJurnal"/>
                                        </p:autoComplete>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Nama Acc" style="width: 23%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.detailCoaNama}"/></f:facet>
                                    <f:facet name="input">
                                        <p:autoComplete forceSelection="true" value="#{jurnal.detailCoaNama}"
                                                        completeMethod="#{jurnalUmum.findCoaNama}"
                                                        minQueryLength="2" maxResults="10"
                                                        size="50"
                                                        required="true" requiredMessage="Nama Acc harus diisi">
                                            <p:ajax event="itemSelect" listener="#{jurnalUmum.namaAccOnChange(jurnal)}" update=":formDlgUpdate:dtTableJurnal"/>
                                        </p:autoComplete>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Keterangan" style="width: 31%;" styleClass="simrs-columsKasir">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{jurnal.ledgerKeterangan}"/></f:facet>
                                    <f:facet name="input"><p:inputText value="#{jurnal.ledgerKeterangan}" size="70" required="true" requiredMessage="Keterangan harus diisi"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Debit" styleClass="simrs-columsKasir" style="width: 12%;">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{jurnal.detailDebitFormatter}" style="float:right">
                                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{jurnal.detailDebitFormatter}" 
                                                     onkeypress="return checkNumber(event)"
                                                     onkeyup="return addComma(this, event)"
                                                     required="true" requiredMessage="Jumlah debit harus diisi">
                                            <p:ajax event="keyup" update=":formDlgUpdate:gridFooter" listener="#{jurnalUmum.debitOnChange()}" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Kredit" styleClass="simrs-columsKasir" style="width: 12%;">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{jurnal.detailKreditFormatter}" style="float:right">
                                            <f:convertNumber type="currency" currencySymbol="Rp. "/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{jurnal.detailKreditFormatter}"
                                                     onkeypress="return checkNumber(event)"
                                                     onkeyup="return addComma(this, event)"
                                                     required="true" requiredMessage="Jumlah kredit harus diisi">
                                            <p:ajax event="keyup" update=":formDlgUpdate:gridFooter" listener="#{jurnalUmum.kreditOnChange()}" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                        </p:dataTable>
                    </center>
                    <p:panelGrid id="gridFooter" columns="3" style="float: right;">
                        <h:outputText value="Total Debit"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalDebitFormatter}" readonly="true" style="width: 200px;text-align: right;"/>

                        <h:outputText value="Total Kredit"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalKreditFormatter}" readonly="true" style="width: 200px;text-align: right;"/>

                        <h:outputText value="Selish"/>
                        <h:outputText value=":"/>
                        <p:inputText value="#{jurnalUmum.totalSelisihFormatter}" readonly="true" style="width: 200px;text-align: right;"/>
                    </p:panelGrid>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

        <!--=POSTING=============================================================-->
        <h:form id="formPosting">
            <p:confirmDialog id="dlgPosting"
                             widgetVar="widDlgPosting"
                             header="Posting Jurnal Umum"
                             message="Apakah anda yakin ingin memposting jurnal tersebut ?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes" actionListener="#{jurnalUmum.posting()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widDlgPosting.hide()"/>
            </p:confirmDialog>
        </h:form>

        <!--=DELETE=============================================================-->
        <h:form id="formDelete">
            <p:confirmDialog id="dlgDelete"
                             widgetVar="widDlgDelete"
                             header="Delete Jurnal Umum"
                             message="Apakah anda yakin ingin menghapus jurnal tersebut ?" 
                             severity="alert"
                             styleClass="simrs-confirmation">
                <p:commandButton value="Yes" actionListener="#{jurnalUmum.deleteJurnalUmum()}"/>
                <p:commandButton value="No"
                                 process="@this"
                                 onclick="widDlgDelete.hide()"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
