<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
        Ledger View
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>             
        </h:form>

        <h:form id="thisForm">
            <p:panelGrid id="pgridFilter" >
                <p:row>
                    <p:column>
                        <h:outputLabel value="Cari No. Ref" />
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column >
                        <p:autoComplete forceSelection="true" id="searchNoMedrec" value="#{ledgerViewController.searchNoRef}"   
                                        completeMethod="#{ledgerViewController.findNoRef}" minQueryLength="3" maxResults="10"> 
                            <p:ajax event="itemSelect" listener="#{ledgerViewController.searchByNoRef()}" update="thisForm:thisData"/>               
                        </p:autoComplete>
                    </p:column>

<!--                    <p:column>
                        <p:selectBooleanCheckbox value="#{kasirController.checkBoxFilterTanggal}">
                            <p:ajax update="filterTanggal,buttonFilter"
                                    listener="#{kasirController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>

                    <p:column>
                        <h:outputText value="Filter Tanggal"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column style="width: 200px;">
                        <p:calendar value="#{kasirController.selectedFilterTanggal}" id="filterTanggal"
                                    disabled="#{kasirController.toggleFilterTanggal}"
                                    showOn="button"
                                    readonlyInput="true"
                                    navigator="true" 
                                    mode="popup"
                                    pattern="#{kasirController.pattern3}"
                                    title="Tanggal Awal">
                        </p:calendar>
                    </p:column>

                    <p:column>
                        <p:selectBooleanCheckbox value="#{kasirController.checkBoxFilterUnit}">
                            <p:ajax update="filterUnit,buttonFilter"
                                    listener="#{kasirController.listenerCheckboxFilter()}"/>
                        </p:selectBooleanCheckbox>
                    </p:column>
                    <p:column>
                        <h:outputText value="Filter Unit/ Poli"/>
                    </p:column>
                    <p:column>
                        <h:outputText value=":"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="filterUnit"
                                         disabled="#{kasirController.toggleFilterUnit}"
                                         value="#{kasirController.selectedFilterUnit}" filter="true">
                            <f:selectItem itemLabel="Pilih Unit/ Poli" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{kasirController.listUnit}" var="unit" itemLabel="#{unit.unitNama}" itemValue="#{unit.unitId}" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:commandButton id ="buttonFilter" value="Filter Data"
                                         actionListener="#{kasirController.doFilter()}"
                                         disabled="#{kasirController.toggleButtonFilter}"
                                         process="@this thisForm:filterTanggal thisForm:filterUnit"
                                         update="thisForm:thisData"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Reset Filter"
                                         update="thisForm:pgridFilter,thisForm:thisData"
                                         action="kasir.xhtml"
                                         process="@this"/>
                    </p:column>-->
                </p:row>
            </p:panelGrid>
            <p:tabView id="thisData" dynamic="true" activeIndex="0">
                <p:tab title="Ledger View" >
                    <p:dataTable value="#{ledgerViewController.lazyTrxLedger}" var="eachData"
                                 paginator="true"
                                 rowsPerPageTemplate="20, 50, 100"
                                 rows="20"
                                 lazy="true"
                                 resizableColumns="true"
                                 emptyMessage="No Data"
                                 styleClass="simrs-panelgrid">


                        <p:column style="font-size: 13px;" headerText="No. Ref" >
                            <h:outputText value="#{eachData.ledgerNoRef}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Tanggal" >
                            <h:outputText value="#{eachData.ledgerTglString}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="No. Acc" >
                            <h:outputText value="#{eachData.ledgerCoaId.coaAccountNo}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Desc" >
                            <h:outputText value="#{eachData.ledgerDesc}" styleClass="simrs-textInput"/>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Debit" >
                            <h:outputText value="#{eachData.ledgerDebit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="font-size: 13px;" headerText="Kredit" >
                            <h:outputText value="#{eachData.ledgerKredit}" styleClass="simrs-textInput" style="float:right">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </p:tab>

            </p:tabView>
        </h:form>

    </ui:define>

    <script type="text/javascript">
        $(function() {
        $(".datepicker").datepicker({
        dateFormat : 'dd-mm-yy',
                changeMonth : true,
                changeYear : true
        });
    </script>

</ui:composition>
