<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/common.js"></script>
    <h:head>
        <f:facet name="last">
            <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/css/custom.css"/>
            <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/css/common.css"/>
        </f:facet> 
    </h:head>
    <h:body onload="#{body_onload}">

        <h:form>  
            <div class="ui-g">
                <div class="ui-g-4"><h:graphicImage value="/resources/img/logo.png" style="height: 50px; width: 250px"/></div>
                <div class="ui-g-5"></div>
                <div class="ui-g-3" style="text-align: left">
                    <h2 style="margin-top: 0px;margin-bottom: 0px;">Sistem Informasi Rumah Sakit</h2>
                    <p style="margin-top: 0px;margin-bottom: 0px;"><b>User</b> : <h:outputText value="#{loginController.uname}"/> <b style="margin-left: 20px;">Shift : #{loginController.shift}</b></p>
                </div>
            </div>
            <p:growl id="messages"/>

            <p:menubar>
                <p:menuitem outcome="/main/MainMenu" icon="ui-icon-home">Home</p:menuitem>

                <p:submenu rendered="#{hakAksesController.verifyHakAkses('39,40,41,49')}" label="Administrasi" icon="ui-icon-pencil">
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('39')}" value="Master Kelompok COA" url="/main/Master/MasterKelompokCOA.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('40')}" value="Master COA" url="/main/Master/MasterCOA.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('41')}" value="Master Account Special" url="/main/Master/MasterAccountSpecial.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('41')}" value="Master Account Setup" url="/main/Master/MasterAccountSetup.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('49')}" value="Master Fix Assets" url="/main/Master/MasterFixAssets.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('3')}" value="Hak Akses" url="/main/Master/HakAkses.xhtml"/>
                </p:submenu>

                <p:submenu rendered="#{hakAksesController.verifyHakAkses('42,44,45,46,47,48,50')}" label="Keuangan" icon="fa fa-dollar">
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('42')}" value="Ledger View" url="/main/Keuangan/LedgerView.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('44')}" value="Kas Masuk" url="/main/Keuangan/CashIn.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('44')}" value="Kas Keluar" url="/main/Keuangan/CashOut.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('45')}" value="Jurnal Umum" url="/main/Keuangan/JurnalUmum.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('46')}" value="Neraca Saldo" url="/main/Keuangan/BalanceSheet.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('50')}" value="Penyusutan Fix Asset" url="/main/Keuangan/DepreciationFixAssets.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('47')}" value="Buku Kas" url="/main/Keuangan/BukuKas.xhtml"/>
                    <p:menuitem rendered="#{hakAksesController.verifyHakAkses('48')}" value="Buku Hutang" url="/main/Keuangan/BukuHutang.xhtml"/>
                </p:submenu>

                <p:submenu label="Laporan" icon="fa fa-print">
                    <p:menuitem value="Kas" url="/main/Reports/Kas/ReportHarianKasMasuk.xhtml"/>
                </p:submenu>

                <f:facet name="options">
                    <p:commandButton value="Logout" icon="ui-icon-extlink" action="#{loginController.logout()}"/>
                </f:facet>
            </p:menubar>
        </h:form>
        <div id="content" class="simrs-mainpage">
            <ui:insert name="title">Default title</ui:insert>
            <div id="maincontent" class="simrs-mainpage-content">
                <ui:insert name="content">Default content</ui:insert>
            </div>
        </div>
    </h:body>
</html>
