<ui:composition template="/main/cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="body_onload" 
              value="" />

    <ui:define name="title">
    </ui:define>

    <ui:define name="content">
        <h:form id="formMessage">
            <p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true"/>
        </h:form>

        <div class="sideBar">
            <ui:include src="../SideMenu/ListMenuKas.xhtml" />
        </div>
        <div class="middleMenu">
            <center>
                <h:form id="thisForm" target="_blank">
                    <h:panelGrid>
                        <p:panel header="Laporan Harian - Kas Masuk" >
                            <h:panelGrid columns="7" cellpadding="3">
                                    
                            </h:panelGrid>
                            <p:panelGrid id="pgridInsert" columns="3">
                                <h:outputText value="Jenis"/>
                                <h:outputText value=":"/>
                                <p:selectOneRadio value="#{reportHarianKasController.selectAccountKasOrBank}" >
                                    <f:selectItem itemLabel="Kas" itemValue="111" />
                                    <f:selectItem itemLabel="Bank" itemValue="112" />
                                    <p:ajax event="valueChange" listener="#{reportHarianKasController.loadAccountKasOrBank()}" process="@this" update="accountKasOrBank" />
                                </p:selectOneRadio>

                                <h:outputText value="Account"/>
                                <h:outputText value=":"/>
                                <p:selectOneMenu id="accountKasOrBank" value="#{reportHarianKasController.selectAccount}">
                                    <f:selectItems value="#{reportHarianKasController.listAccount}" var="acc" itemLabel="#{acc.coaAccountNama}" itemValue="#{acc.coaAccountNo}" />
                                <p:ajax event="change" listener="#{reportHarianKasController.thisOnChange()}" />
                                </p:selectOneMenu>
                                
                                <h:outputText value="Tanggal Awal"/>
                                <h:outputText value=":"/>
                                <p:calendar value="#{reportHarianKasController.selectedTanggalAwal}" id="tanggalAwal"
                                            showOn="button"
                                            readonlyInput="true"
                                            navigator="true" 
                                            mode="popup"
                                            pattern="#{reportHarianKasController.pattern3}"
                                            title="Tanggal Awal">
                                    <p:ajax event="dateSelect"
                                            update="tanggalAkhir"
                                            listener="#{reportHarianKasController.thisOnChange()}"/>
                                </p:calendar>
                                <h:outputText value="Tanggal Akhir"/>
                                <h:outputText value=":"/>
                                <p:calendar value="#{reportHarianKasController.selectedTanggalAkhir}" id="tanggalAkhir"
                                            showOn="button"
                                            readonlyInput="true"
                                            navigator="true" 
                                            mode="popup"
                                            pattern="#{reportHarianKasController.pattern3}"
                                            mindate="#{reportHarianKasController.selectedTanggalAwal}"
                                            title="Tanggal Akhir">
                                    <p:ajax event="dateSelect"  
                                            listener="#{reportHarianKasController.thisOnChange()}"/>
                                </p:calendar>
                                
                            </p:panelGrid>
                            <f:facet name="footer">
                                <p:panelGrid columns="2">

                                    <p:commandButton id ="buttonPrint" value="Cetak"
                                                     icon="ui-icon-print"
                                                     actionListener="#{reportHarianKasController.doPrintKasMasuk()}"
                                                     immediate="true" ajax="false"/>
                                </p:panelGrid>
                            </f:facet>
                        </p:panel>
                    </h:panelGrid>
                </h:form>
            </center>
        </div>
    </ui:define>
</ui:composition>