<ui:composition template="cmn/MenuBar.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="title">

    </ui:define>

    <ui:define name="content">
        <div class="backgroundImage">
            <h:graphicImage value="../resources/img/loginbackground.jpg" />
        </div>
    </ui:define>
</ui:composition>