<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

        <title>Hospital</title>

        <style>
            /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
            @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

            body{
                margin: 0;
                padding: 0;
                background: #fff;

                color: #fff;
                font-family: Arial;
                font-size: 12px;
            }

            .body{
                position: absolute;
/*                top: -20px;
                left: -20px;
                right: -40px;
                bottom: -40px;*/
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: auto;
                height: auto;
                background-image: url(resources/img/background.jpg);
                background-size: cover;
                -webkit-filter: blur(5px);
                z-index: 0;
            }

            .grad{
/*                position: absolute;
                top: -20px;
                left: -20px;
                right: -40px;
                bottom: -40px;*/
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: auto;
                height: auto;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
                z-index: 1;
                opacity: 0.7;
            }

            .header{
                position: absolute;
                top: calc(50% - 35px);
                left: calc(50% - 255px);
                z-index: 2;
            }

            .header div{
                float: left;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 35px;
                font-weight: 200;
            }

            .header div span{
                color: #5379fa !important;
            }

            .login{
                position: absolute;
                top: calc(50% - 75px);
                left: calc(50% - 50px);
                height: 150px;
                width: 350px;
                padding: 10px;
                z-index: 2;
            }

            .txtUsername{
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid rgba(255,255,255,0.6);
                border-radius: 2px;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 4px;
            }

            .txtPAssword{
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid rgba(255,255,255,0.6);
                border-radius: 2px;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 4px;
                margin-top: 10px;
            }

            .loginBUtton{
                width: 260px;
                height: 35px;
                background: #fff;
                border: 1px solid #fff;
                cursor: pointer;
                border-radius: 2px;
                color: #a18d6c;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 6px;
                margin-top: 10px;
            }

            .loginBUtton:hover{
                opacity: 0.8;
            }

            .loginBUtton:active{
                opacity: 0.6;
            }

            .loginBUtton:focus{
                outline: none;
                border: 1px solid rgba(255,255,255,0.9);
            }

            .loginBUtton:focus{
                outline: none;
                border: 1px solid rgba(255,255,255,0.9);
            }

            .loginBUtton:focus{
                outline: none;
            }

            ::-webkit-input-placeholder{
                color: rgba(255,255,255,0.6);
            }

            ::-moz-input-placeholder{
                color: rgba(255,255,255,0.6);
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    </h:head>

    <body>
        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Hospital<span>Site</span></div>
        </div>
        <br/>
        <h:form >
            <div class="simrs-login-message">
                
            </div>
            <!--<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />-->
            <!--<p:growl id="messages" showDetail="true" showSummary="false" autoUpdate="true" />-->
            <div class="login">
                <!--<input type="text" placeholder="username" name="user"/><br/>-->
                <p:messages showDetail="false" autoUpdate="true" closable="true" style="width: 260px"/>
                <p:inputText id="username"
                             class="txtUsername" placeholder="Username"
                             value="#{loginController.uname}"/>
                <!--<p:watermark for="username" value="Username" id="watermarkUsername" />-->
                <!--<input type="password" placeholder="password" name="password"/><br/>-->
                <p:password id="password"
                            class="txtPAssword" placeholder="Password"
                            value="#{loginController.passwd}"/>
                <!--<p:watermark for="password" value="Password" id="watermarkPassword" />-->
                
                <p:commandButton value="Login"
                                 class="loginBUtton"
                                 action="#{loginController.login}"
                                 type="submit"
                                 ajax="false"/>
            </div>
        </h:form>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    </body>
</html>
